.header__nav
    a(href="index.html") Главная
    span
    a(href="clients.html")
        span(class="header__nav-clients") Корпоротивным
        | клиентам
    span
    a(href="#") Раздвижные перегородки
