.map__container {
  h1 {
    padding-bottom: 1vw;
  }

  p {
    padding-bottom: $f60;
    color: #6A6868;
    display: none;//отключение основных стилей
  }

  @media (min-width: 1600px) {
    h1 {
      font-size: 1.9vw;
      padding-bottom: 1vw;
    }

    p {
      font-size: 1.1vw;
    }
  }
}

.map__container-main {
  display: block;
}

.map {
  padding-top: $f60;
  padding-bottom: 3.6vw;

  //стили для страницы contact.html
  &--contact {
    padding-bottom: $f30;
    padding-top: 0;
  }

  @media (min-width: 1600px) {
    padding-bottom: 1vw;
    padding-top: 2.5vw;
  }
}

//стили для страницы contact.html
.map__container-contact {
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: $f50;
    line-height: 110%;
    text-transform: uppercase;
    padding-bottom: $f60;
  }
}
//конец стилей страницы contact.html

.map__block {
  width: 100%;
  height: 35.7vw;
  //background: url("../images/content/map.jpg") no-repeat;
  position: relative;
  border-radius: 8px;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 100;
    border: 0;
  }

  @media (min-width: 1600px) {
    height: 32vw;
  }
}

.map__info-link {
  width: 100%;
  border-bottom: 1px solid var(--grey-bg);
  padding-bottom: $f18;

  &--last {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &:first-child {
    p {
      padding-top: 0;
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: $f18;
    line-height: 100%;
    color: #37364D;
    padding-bottom: 0.3vw;
    padding-top: $f18;
  }

  a {
    font-style: normal;
    font-weight: normal;
    font-size: $f22;
    line-height: 110%;
    text-transform: uppercase;
    color: #33C5F3;
    position: relative;
  }

  @media (min-width: 1600px) {
    padding-bottom: 1vw;

    p {
      font-size: 1vw;
      padding-top: 1vw;
    }
    a {
      font-size: $f20;
    }
  }
}

.map__info-block {
  background: #FFFFFF;
  box-shadow: 0px 0px 96px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: $f30 $f40;
  width: 100%;
  max-width: 25.81vw;
  position: relative;
  padding-bottom: $f28;
  z-index: 200;
  left: $f40;
  top: $f40;

  p {
    display: block;
  }

  @media (min-width: 1600px) {
    max-width: 24vw;
    top: 1vw;
  }
}

.map__info-mail-text {
  text-transform: none!important;
}

.map__link-wrap {
  width: 100%;
  display: flex;
  margin-top: $f30;

  a {
    width: 100%;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.13vw;
    line-height: 100%;
    background: linear-gradient(
90deg
, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    border-radius: 8px;
    padding: 1.375vw 4vw;
    position: relative;
    text-transform: uppercase;

    svg {
      width: 1vw;
      height: 1vw;
      fill: white;
      position: absolute;
      left: 3vw;
      top: 1.4vw;
    }
  }

  @media (min-width: 1600px) {
    margin-top: 1vw;

    a {
      font-size: 1vw;

      svg {
        top: 1.2vw;
      }
    }
  }
}


@media (max-width: $mobile-width) {
  .map {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 86px;

    //стили страницы contact.html
    &--contact {
      margin-bottom: 30px;
    }
  }

  .map__container {
    h1 {
      padding-bottom: 20px;
    }

    p {
      padding-bottom: 40px;
    }

  }

  .map__block {
    height: 324px;
  }

  .map__info-block {
    max-width: none;
    left: 0;
    top: 0;
    padding: 30px;
    border-radius: 8px;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
      padding-bottom: 12px;
      padding-top: 18px;
    }

    a {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 110%;
      padding-bottom: 16px;
    }
  }

  .map__link-wrap {
    margin-top: 0;

    a {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      max-width: 275px;
      margin: 0 auto;
      margin-top: 27px;
      padding-bottom: 0;
      padding-top: 0;

      svg {
        width: 12.5px;
        height: 14.7px;
        left: 26px;
        top: 22px;
      }
    }
  }

  //стили страницы contact.html
  .map__container-contact {
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 120%;
      padding-bottom: 20px;
    }
  }
}
