head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width")
    meta(name="keywords" content="")
    meta(name="description" content= description)
    link(rel="stylesheet" type='text/css' href="css/styles.css")
    link(rel="preload" href="fonts/Circe/Circe-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/CirceBold/Circe-Bold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/CirceLight/Circe-Light.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Bookman/Bookman Old Style.woff2" as="font" crossorigin="anonymous")
    link(rel="shortcut icon"  href="images/common/favicon.ico" type="image/png")
    link(type="image/png" sizes="16x16" rel="icon" href="images/common/favicon-16x16.png")
    link(type="image/png" sizes="32x32" rel="icon" href="images/common/favicon-32x32.png")
    link(type="image/png" sizes="192x192" rel="icon" href="images/common/android-chrome-192x192.png")
    link(type="image/png" sizes="512x512" rel="icon" href="images/common/android-chrome-512x512.png")
    link(type="image/png" sizes="150x150" rel="apple-touch-icon" href="images/common/mstile-150x150.png")
