section.advantages
  .advantages__container
    h1 Преимущества
    .advantages__title
      p У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
      button(type="button" class="advantages__btn") Бесплатный вызов замерщика
    .advantages__block
      .advantages__btns
        button(type="button" class="advantages__left advantages__arrow")
        button(type="button" class="advantages__right active advantages__arrow")
      .advantages__list
        .advantages__item
          .advantages__item-title
            h3 01
            h4 Скидки от поставщиков материалов
          p Мы получаем специальные условия благодаря большому объему закупок комплектующих
        .advantages__item
          .advantages__item-title
            h3 02
            h4 Автоматизированное производство
          p Большинство операций по сборке выполняют машины, что ускоряет процесс, улучшает точность сборки и экономит трудозатраты.
        .advantages__item
          .advantages__item-title
            h3 03
            h4 Оптимизация производственных процессов
          p Мы постоянно совершенствуем процессы по технологии бережливого производства, убирая затраты, не приносящие пользу клиенту.
        .advantages__item
          .advantages__item-title
            h3 04
            h4 Собственная служба логистики
          p Собственный транспорт позволяет нам доставлять окна бесплатно в Москве и МО. области
        .advantages__item
          .advantages__item-title
            h3 05
            h4 Экологичность
          p Собственный транспорт позволяет нам доставлять окна бесплатно в Москве и МО. области
        .advantages__item.advantages__item--action
          .advantages__item-title
            h4 Акция! Окна в рассрочку - 0% переплат!
          p Нет возможности сразу оплатить изготовление окон? Оформляйте заявку на беспроцентный кредит прямо на нашем сайте!