section.advantages
  .advantages__container
    .advantages__title
      h1 Преимущества
      a(href="#" class="advantages__btn js-open-modal" data-modal="10") Получить скидку 30% на остекление
    .advantages__block.swiper-container.sliderWhyus
      .advantages__list.swiper-wrapper
        .advantages__item.swiper-slide
          .advantages__item-title
            h3 01
            h4 Опыт работы
          p Работаем на рынке с 2006 года, за это время мы обрели огромный опыт, множество клиентов, запустили собственное производство и стали многопрофильным предприятием.
        .advantages__item.swiper-slide
          .advantages__item-title
            h3 02
            h4 Собственное производство
          p Короткие сроки изготовления, полный контроль качества.
        .advantages__item.swiper-slide
          .advantages__item-title
            h3 03
            h4 Гарантия 5 лет
          p Мы даем пожизненную гарантию на наши стеклопакеты. Кроме этого, на все наши окна действует гарантия 5 лет.
        .advantages__item.swiper-slide
          .advantages__item-title
            h3 04
            h4 Собственная служба логистики
          p Наша компания бережно и в кратчайшие сроки доставит конструкции по вашему адресу.
        .advantages__item.swiper-slide
          .advantages__item-title
            h3 05
            h4 Экологичность
          p Окна отвечают высокому классу экологической безопасности и сделаны из качественных материалов, имеются сертификаты качества.
        .advantages__item.advantages__item--action.swiper-slide
          +icon("bg-action-adv")
          .advantages__item-title
            h4 Акция! Окна в рассрочку - 0% переплат!
          p Нет возможности сразу оплатить изготовление окон? Наш специалист поможет оформить заявку на рассрочку!
      .advantages__btns
        button(type="button" class="advantages__left advantages__arrow swiper-button-prev slider__arrows")
        button(type="button" class="advantages__right active advantages__arrow swiper-button-next slider__arrows")
