section.faq
    .faq__container
        h1 Часто задаваемые вопросы
        .faq__title
            p У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
            a(href="#") Все вопросы
        .faq__list
            .faq__item
                .faq__item-header.open-spoiler
                    p Из каких частей состоят окна из металлопластика?
                .faq__block
                    p Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.
                    p Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.
                    p В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.
            .faq__item
                .faq__item-header.open-spoiler
                    p В чем главное преимущество металлопластиковых окон?
                .faq__block
                    p Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.
                    p Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.
                    p В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.
            .faq__item
                .faq__item-header.open-spoiler
                    p Не вредит ли пластик, из которого делают окна, здоровью?
                .faq__block
                    p Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.
                    p Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.
                    p В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.
            .faq__item
                .faq__item-header.open-spoiler
                    p Не станут ли окна из белого ПВХ желтыми со временем?
                .faq__block
                    p Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.
                    p Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.
                    p В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.
            .faq__item
                .faq__item-header.open-spoiler
                    p Правда ли, что фурнитура у всех пластиковых окон разная?
                .faq__block
                    p Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.
                    p Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.
                    p В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.
            .faq__item
                .faq__item-header.open-spoiler 
                    p Какую фурнитуру лучше всего выбрать?
                .faq__block
                    p Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.
                    p Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.
                    p В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.
            .faq__item
                .faq__item-header.open-spoiler
                    p  Смогут ли окна из металлопластика защитить квартиру от шума с улицы?
                .faq__block
                    p Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.
                    p Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.
                    p В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.