section.faq
    .faq__container
        h1 Часто задаваемые вопросы
        .faq__title
            p У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
            a(href="#") Все вопросы
        .faq__list
            .faq__item
                .faq__item-header.open-spoiler
                    p Сколько стоит квадратный метр окна?
                .faq__block
                    p Нельзя определить стоимость 1 м2 окна, т.к. на стоимость окна помимо его размеров (ширина и высота) влияют и другие составляющие, такие как, толщина стеклопакета, количество стекол, количество створок в окне и тип их открывания, наличие дополнительных элементов: раскладка в стеклопакете, москитные сетки, цвет профиля и т.д.
            .faq__item
                .faq__item-header.open-spoiler
                    p От чего зависит цена на пластиковое окне и можно ли рассчитать стоимость по телефону?
                .faq__block
                    p Стоимость окна зависит от типа профиля (ширина, количество камер), фурнитуры (тип открывания), стеклопакета (толщина и количество стекол, их тип, использование инертных газов в заполнении межстекольного просгранства) и других расходных материалов (отливов, откосов, подоконников).Дополнительная статья расходов—работы по установке окна в проеме. При расчете примерной стоимости по телефону первоначальная и конечная цена на ПВХ окна может отличаться. На это прежде всего влияет точность заявленных вами размеров оконного проема Как показывает практика, замеры специалиста существенно разнятся ог называемых заказчиком.Услуги замерщика (большинство фирм предоставляют бесплатно) позволяют избежать ошибок и неточностей. Кроме того, многие фирмы не дают гарантию на окна, если замер был произведен не штатным специалистом, а окно было изготовлено по заявленным заказчиком размерам.
            .faq__item
                .faq__item-header.open-spoiler
                    p Насколько пластиковые окна безопасны в плане стойкости к взлому?
                .faq__block
                    p Профиль ПВХ имеет в своей конструкции металлическое армирование, что делает всю конструкцию необычайно прочной. Дополнительно может использоваться противовзломная фурнитура. Для защиты от взлома, наряду с фурнитурой, выпускаются стекла различных типов: от простого армированного и однослойного триплекса до многослойного триплекса и стеклопакета повышенной безопасности. Поэтому с уверенностью можно сказать, что вскрыть такое окно злоумышленнику будет очень не просто.
            .faq__item
                .faq__item-header.open-spoiler
                    p Какие нюансы стоит учесть при выборе окон?
                .faq__block
                    p Главной задачей перед выбором металлопластиковых окон определить, зачем вы хотите их установить. От этого будет зависеть и камерность профиля, и вид фурнитуры, и наличие дополнительных функций у изделия.Чаще всего металлопластиковые окна устанавливают потому, что хотят сохранить тепло в доме, а старые рамы продувает. Тогда стоит особое внимание обратить на то, насколько плотно окна закрываются – это вопрос качества фурнитуры запирания, оценить качество самого оконного профиля, а также – насколько плотно рама примыкает к стене, что зависит от надежности узлов крепления.Если же причиной установки новых окон стало желание избавиться от шума, то стоит тщательней выбирать стеклопакет. Если дом находится на особо громкой улице, целесообразно выбрать стекло с большей камерностью. Ведь стеклопакет – это 80% всего пластикового окна. А еще – особо тщательно проследить за изоляцией проемов при монтаже или отделке откосов, ведь нежелательные звуки могут проникать в квартиру в обход самого окна через щели между рамой и стеной.В случае, если вам просто надоели старые деревянные окна, и вы считаете, что металлопластиковые выглядят аккуратней и более эстетично, то стоит подумать, например, об изменении цвета, выбора другой фурнитуры (к примеру, ручек), а также – дополнительных опций.
            .faq__item
                .faq__item-header.open-spoiler
                    p  Стоит ли зимой менять окна?
                .faq__block
                    p Традиционно считается, что зимой лучше не проводить никаких ремонтных работ. Но в последнее время тенденция меняется. Ведь ограничения по монтажу окон касаются только работ, которые выполняются при температуре ниже -10 градусов Цельсия. В другое время правила установки окон не меняются. Иногда в холодную пору окна меняют по необходимости (сильно сквозит, холодно), а иногда потому, что зимой – дешевле и выгоднее. Уже в конце осени снижается спрос на монтажно-ремонтные работы, а компании, которые предоставляют такие услуги, не хотят простаивать зимой. Тем более что сейчас практически все фирмы усвоили монтаж пластиковых окон в зимний период. Это снизит температуру в квартире всего на 1-2%, и современные монтажные пены можно использовать и при минус 15-ти. Вот почему большинство компаний, которые занимаются реализацией окон, именно зимой предоставляют существенные скидки на окна – до 20%. Еще одно преимущество – в это время общее количество заказов значительно уменьшается, что сокращает период изготовления окон, а также – каждому клиенту уделяют больше времени. При установке окон монтажники никуда не спешат, могут выполнить работу качественнее. И зимой можно сразу ощутить качественно или нет установлено окно, – сквозняк сразу будет ощущаться.Лето – самое удачное время для установки окон – и не холодно, и скидки, наверное, будут. Правда?Это – заблуждение. Летом все предприятия-производители пластиковых окон, как правило, загружены заказами. Ведь строительный сезон – в разгаре
            .faq__item
                .faq__item-header.open-spoiler
                    p  В чем главное преимущество металлопластиковых окон?
                .faq__block
                    p Выделить одно достоинство окон из пластика сложно. Ведь такие конструкции имеют сразу несколько выгодных отличий.
                        |
                        | Во-первых, срок службы. Несколько десятков лет можно не думать о необходимости замены окна.
                        | Во-вторых, они – устойчивы к капризам природы: дождь, ветер, снег – не нанесут им непоправимого вреда.
                        | В-третьих, такие окна герметично закрываются, что позволяет им надежно защищать дом или квартиру от пыли, сквозняка, холода или шума.
                        | И, что немаловажно, современные металлопластиковые окна – пожаробезопасны. Все серьезные производители изготовляют пластик для окон с антипиренами, это – специальные вещества, которые не поддерживают процессы горения.
            .faq__item
                .faq__item-header.open-spoiler
                    p  Как правильно расшифровывается ПВХ?
                .faq__block
                    p ПВХ расшифровывается как поливинилхлорид — это бесцветная, прозрачная пластмасса, термопластичный полимер винилхлорида. Отличается химической стойкостью к щелочам, минеральным маслам, многим кислотам и растворителям, обладает высокой стойкостью к коррозии. Не горит на воздухе, обладает хорошей морозостойкостью, стоек к нагреванию.
            .faq__item
                .faq__item-header.open-spoiler
                    p  Не станут ли окна из белого ПВХ желтыми под влиянием внешних факторов?
                .faq__block
                    p Проблема изменения цвета действительно была характерна для самых первых изделий из металлопластика. Профиль желтел при длительном воздействии на него ультрафиолетовых солнечных лучей. Производители учли этот момент, и в современный профиль добавили специальный химические элементы, которые препятствуют изменению цвета.
