section.map.map--contact
    .map__container.map__container-contact
        h1 контакты
        .map__block
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287508.12969453563!2d37.56122208241319!3d55.738396483171435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1606249059661!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0")
            .map__info-block(data-da="map__container,last,867")
                .map__info-link
                    p Работаем ежедневно:
                    a(href="#") с 9:00 до 21:00
                .map__info-link
                    p Адрес:
                    a(href="#") г. Москва,
                        br
                        |ул. Дорожная 29
                .map__info-link
                    p Наш телефон:
                    a(href="tel:+79057990999") +7 499 588 86 45
                .map__info-link.map__info-link--last
                    p Напишите нам:
                    a(href="#" class="map__info-mail-text") zakaz@okna-tokada.ru
                .map__link-wrap
                    a(href="#") Вызов замерщика
                        +icon("avatar")
    