section.map
    .map__container.map__container-main
        h1 Наши контакты
        p Благодарим Вас за интерес к нашей работе и надеемся, что у нас вы нашли то, что искали!
        .map__block
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252.2379234103114!2d37.61828098109842!3d55.632674965037246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab2fc5f89aa7b%3A0xf76cc916c9cd2168!2z0JTQvtGA0L7QttC90LDRjyDRg9C7LiwgMjksINCc0L7RgdC60LLQsCwgMTE3NTg3!5e0!3m2!1sru!2sru!4v1608816375976!5m2!1sru!2sru" width="600" height="450" frameborder="0" allow style="border:0;" tabindex="0")
            .map__info-block(data-da="map__container,last,867")
                .map__info-link
                    p Работаем ежедневно:
                    a(href="#") с 8:00 до 22:00
                .map__info-link
                    p Адрес:
                    a(href="https://goo.gl/maps/ybxs4WYNup8YeHsZ9") г. Москва,
                        br
                        |ул. Дорожная 29
                .map__info-link
                    p Наш телефон:
                    a(href="tel:+79057990999") 8 905 799 09 99
                .map__info-link.map__info-link--last
                    p Напишите нам:
                    a(href="#" class="map__info-mail-text") zakaz@okna-tokada.ru
                .map__link-wrap
                    a(href="#" data-modal="1" class="js-open-modal") Вызов замерщика
                        +icon("avatar")
