//button(id="btn_modal_window") Open Modal
div(data-modal="11" class="modal")
    .modal__content
        .close_modal_window.close__reviews.js-modal-close
            span
            p Закрыть
        .modal-check
            .modal-check__img
                +icon("check-img")
            h1 Спасибо, ваш запрос принят!
            p Наш менеджер свяжется с Вами в ближайшее время
            a(href="index.html") Вернуться на главную
