//button(id="btn_modal_window") Open Modal
div(data-modal="2" class="modal modal-rev")
	.modal__reviews-container
		.close__reviews.js-modal-close
			span
			p Закрыть
		.modal__reviews-header
			h2 Оставить отзыв о работе компании
		.modal__reviews-wrapper
			.modal__reviews-block
				h3 Оставить отзыв в GOOGLE
				picture
					source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/modal-logo.webp 1x, images/content/modal-logo@2x.webp 2x")
					img(src="images/content/modal-logo.png" srcset="images/content/modal-logo@2x.png" alt="логотип компании")
				a(href="#") Оставить отзыв
			.modal__reviews-block.modal__reviews-block-second
				h3 Оставить отзыв в YANDEX
				picture
					source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/yandex.webp 1x, images/content/yandex@2x.webp 2x")
					img(src="images/content/yandex.jpg" srcset="images/content/yandex@2x.jpg" alt="логотип компании")
				a(href="https://yandex.ru/profile/80750382670?intent=reviews&utm_source=qr&utm_medium=qr_image&utm_campaign=v1") Оставить отзыв
.overlay.js-overlay-modal

