div(data-modal="3" class="modal modal-action")
  .modal-action__container
    .close_modal_window.close__action.js-modal-close
    h1 Акции
    .modal-action__title
      p Оставьте заявку на сайте или свяжитесь с нами по телефону, наши менеджеры подробно раскажут обо всех действующих акциях и скидках.
      a(href="#") Все акции
    .modal-action__list
      .modal-action__item
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/modal-action__img1.webp 1x, images/content/modal-action__img1@2x.webp 2x")
          img(src="images/content/modal-action__img1.jpg" srcset="images/content/modal-action__img1@2x.jpg" alt="логотип компании")
      .modal-action__item
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/modal-action__img1.webp 1x, images/content/modal-action__img1@2x.webp 2x")
          img(src="images/content/modal-action__img1.jpg" srcset="images/content/modal-action__img1@2x.jpg" alt="логотип компании")
      .modal-action__item
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/modal-action__img1.webp 1x, images/content/modal-action__img1@2x.webp 2x")
          img(src="images/content/modal-action__img1.jpg" srcset="images/content/modal-action__img1@2x.jpg" alt="логотип компании")