section.service
  .service__container
    h1 Наши Услуги
    p У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
    .service__list
      .service__item
        h3(class="open-spoiler") Окна
          +icon("plus")
        .service__item-wrap
          p Алюминиевые окна
          p Окна ПВХ
          p Балконы и лождии
      .service__item
        h3(class="open-spoiler") Двери
          +icon("plus")
        .service__item-wrap
          p Двери ПВХ
          p Распашные двери
          p Автоматические двери
          p Офисные двери
          p Лофт перегородки
      .service__item
        h3(class="open-spoiler") Фасады
          +icon("plus")
        .service__item-wrap
          p Навесы и козырьки
          p Панорамное остекление
          p Входные группы
          p Зимние сады
      .service__item
        h3(class="open-spoiler") Корпоративным клиентам
          +icon("plus")
        .service__item-wrap
          p Автоматические двери
          p Стационарные перегородки
          p Раздвижные перегородки
          p Мобильные перегородки
      .service__item
        h3(class="open-spoiler") Комплектующие
          +icon("plus")
        .service__item-wrap
          p Стеклопакеты
          p Подоконники
          p Ломинация
          p Москитные сетки
          p Жалюзи