section.service
  .service__container
    h1 Наши Услуги
    p В компании «TOKADA» работают настоящие профессионалы, которые в кратчайшие сроки, а главное, качественно, выполняют сборку оконных и дверных конструкций.
    .service__list
      .service__item
        .service__item-title
          a(href="windowmain.html" class="service__item-lin-title") Окна
        .open-spoiler.service__plus-open
          +icon("plus")
        .service__item-wrap
          a(href="window.html") Алюминиевые окна
          a(href="window-pvh.html") Окна ПВХ
          a(href="balcony.html") Балконы и лождии
      .service__item
        .service__item-title
          a(href="doors.html" class="service__item-lin-title") Двери
        .open-spoiler.service__plus-open
          +icon("plus")
        .service__item-wrap
          a(href="doorspvh.html") Двери ПВХ
          a(href="aluminumdoors.html") Алюминиевые двери
          a(href="Swingdoors.html") Распашные двери
          a(href="officedoors.html") Офисные двери
          a(href="loftpatitions.html") Лофт перегородки
      .service__item
        .service__item-title
          a(href="facade.html" class="service__item-lin-title") Фасады
        .open-spoiler.service__plus-open
          +icon("plus")
        .service__item-wrap
          a(href="tent.html") Навесы и козырьки
          a(href="panoramic.html") Панорамное остекление
          a(href="ingroup.html") Входные группы
          a(href="wintergardens.html") Зимние сады
      .service__item
        .service__item-title
          a(href="clients.html" class="service__item-lin-title")
            | Корпоративным
            br
            | клиентам
        .open-spoiler.service__plus-open
          +icon("plus")
        .service__item-wrap
          a(href="autodoors.html") Автоматические двери
          a(href="stationary.html") Стационарные перегородки
          a(href="slidingpartitions.html") Раздвижные перегородки
          a(href="mobilepartitions.html") Мобильные перегородки
          a(href="shopping.html") Торговые павильоны
      .service__item
        .service__item-title
          a(href="complete.html" class="service__item-lin-title") Комплектующие
        .open-spoiler.service__plus-open
          +icon("plus")
        .service__item-wrap
          a(href="glassunit.html") Стеклопакеты
          a(href="windowsill.html") Подоконники
          a(href="fittings.html") Фурнитура
          a(href="laminate.html") Ламинация
          a(href="mosquito.html") Москитные сетки
          a(href="jalousie.html") Жалюзи
