section.whyus
  .whyus__container
    h1 Почему заказчики выбирают нас?
    p У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
  .whyus__wrapper.slider.swiper-container
    .whyus__list.swiper-wrapper
      .whyus__item.swiper-slide
        .whyus__item-title
          h3 01
          h4 Скидки от поставщиков материалов
        p Мы получаем специальные условия благодаря большому объему закупок комплектующих.
      .whyus__item.swiper-slide
        .whyus__item-title
          h3 02
          h4 Автоматизированное производство
        p Большинство операций по сборке выполняют машины, что ускоряет процесс, улучшает точность сборки и экономит трудозатраты.
      .whyus__item.swiper-slide
        .whyus__item-title
          h3 03
          h4 Оптимизация производственных процессов
        p Мы постоянно совершенствуем процессы нашего производства, чтобы предлагать заказчикам высокое качество продукции и достойный уровень сервиса.
      .whyus__item.swiper-slide
        .whyus__item-title
          h3 04
          h4 Собственный автопарк
        p Собственный транспорт позволяет нам доставлять окна бесплатно по Москве и МО области.
    .whyus__img-block
      picture
        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/whyus__img.webp 1x, images/content/whyus__img@2x.webp 2x")
        img(src="images/content/whyus__img.jpg" srcset="images/content/whyus__img@2x.jpg" alt="картинка окна")
    .whyus__btns
      a(href="#" class="whyus__arrow whyus__left swiper-button-prev slider__arrows")
      a(href="#" class="whyus__arrow whyus__right swiper-button-next slider__arrows active")
