section.works
    .works__container
        h1 Наши работы
        .works__title
            p На этой странице представлены  проекты, реализованные специалистами компании «TOKADA».
            //a(href="#") Все работы
        .works__list
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img1.webp 1x, images/content/works-img1@2x.webp 2x")
                    img(src="images/content/works-img1.jpg" srcset="images/content/works-img1@2x.jpg" alt="картинка работы")
                .works__span
                    span Фасады
                    span Окна
                    span Двери
                    span Перегородки
                p Остекление фасада офисно- складского комлекса на улице Дорожная
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img2.webp 1x, images/content/works-img2@2x.webp 2x")
                    img(src="images/content/works-img2.jpg" srcset="images/content/works-img2@2x.jpg" alt="картинка работы")
                .works__span
                    span Фасады
                    span Окна
                    span Входные группы
                p Остекление фасада офисно- складского комлекса на улице Малая Очаковская
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img3.webp 1x, images/content/works-img3@2x.webp 2x")
                    img(src="images/content/works-img3.jpg" srcset="images/content/works-img3@2x.jpg" alt="картинка работы")
                .works__span
                    span Фасады
                    span Окна
                    span Перегородки
                p Остекление фасада офисно- складского комлекса на улице Малая Очаковская
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img4.webp 1x, images/content/works-img4@2x.webp 2x")
                    img(src="images/content/works-img4.jpg" srcset="images/content/works-img4@2x.jpg" alt="картинка работы")
                .works__span
                    span Окна
                    span Балконы
                    span Двери
                p Остекление под ключ жилого здания в микрорайоне Щитниково
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img5.webp 1x, images/content/works-img5@2x.webp 2x")
                    img(src="images/content/works-img5.jpg" srcset="images/content/works-img5@2x.jpg" alt="картинка работы")
                .works__span
                    span Окна
                    span Балконы
                    span Двери
                p Остекление под ключ жилого здания в микрорайоне “1 мая”
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img6.webp 1x, images/content/works-img6@2x.webp 2x")
                    img(src="images/content/works-img6.jpg" srcset="images/content/works-img6@2x.jpg" alt="картинка работы")
                .works__span
                    span Окна
                    span Балконы
                    span Двери
                p Остекление под ключ жилого здания в микрорайоне “1 мая”
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img7.webp 1x, images/content/works-img7@2x.webp 2x")
                    img(src="images/content/works-img7.jpg" srcset="images/content/works-img7@2x.jpg" alt="картинка работы")
                .works__span
                    span Окна
                    span Балконы
                p Остекление под ключ жилого здания в Тушино
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img8.webp 1x, images/content/works-img8@2x.webp 2x")
                    img(src="images/content/works-img8.jpg" srcset="images/content/works-img8@2x.jpg" alt="картинка работы")
                .works__span
                    span Фасады
                p Остекление крыши офиса компании “Adidas”
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img9.webp 1x, images/content/works-img9@2x.webp 2x")
                    img(src="images/content/works-img9.jpg" srcset="images/content/works-img9@2x.jpg" alt="картинка работы")
                .works__span
                    span Перегородки
                p Изготовление и установка офисных перегородок для офиса компании “Adidas”
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img10.webp 1x, images/content/works-img10@2x.webp 2x")
                    img(src="images/content/works-img10.jpg" srcset="images/content/works-img10@2x.jpg" alt="картинка работы")
                .works__span
                    span Входные группы
                p Входная группа бизнес-центра на улице Малая Очаковская
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img11.webp 1x, images/content/works-img11@2x.webp 2x")
                    img(src="images/content/works-img11.jpg" srcset="images/content/works-img11@2x.jpg" alt="картинка работы")
                .works__span
                    span Фасады
                p Спайдерное остекление бизнес-центра
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img12.webp 1x, images/content/works-img12@2x.webp 2x")
                    img(src="images/content/works-img12.jpg" srcset="images/content/works-img12@2x.jpg" alt="картинка работы")
                .works__span
                    span Торговые павильоны
                    span Алюминиевые окна
                p Изготовление торговых павильонов
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img13.webp 1x, images/content/works-img13@2x.webp 2x")
                    img(src="images/content/works-img13.jpg" srcset="images/content/works-img13@2x.jpg" alt="картинка работы")
                .works__span
                    span Окна
                p Производство и установка окон по адресу Луховицкая
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img14.webp 1x, images/content/works-img14@2x.webp 2x")
                    img(src="images/content/works-img14.jpg" srcset="images/content/works-img14@2x.jpg" alt="картинка работы")
                .works__span
                    span Окна
                    span Ломинация
                p Изготовление и установка окон для дачи
            .works__item
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/works-img15.webp 1x, images/content/works-img15@2x.webp 2x")
                    img(src="images/content/works-img15.jpg" srcset="images/content/works-img15@2x.jpg" alt="картинка работы")
                .works__span
                    span Окна
                p Изготовление и установка окон
        //.works__btn
        //    a(href="#" class="works__all-link") Все работы
