.time__container {
  width: 100%;
  height: 35vw;
  background: url("../images/content/time__bg.svg") no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 99;
  border-radius: 8px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    background: linear-gradient(267.89deg, rgba(199, 184, 245, 0.3) 0%, rgba(51, 197, 243, 0.3) 100%);
    background-size: cover;
    border-radius: 8px;
  }

  //img {
  //  position: absolute;
  //  z-index: -1;
  //  width: 100%;
  //  height: 100%;
  //  object-fit: contain;
  //}

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.88vw;
    line-height: 110%;
    text-align: center;
    padding-bottom: $f23;
    padding-top: $f40;
    text-transform: uppercase;
  }

  p {
    font-style: normal;
    font-weight: bold;
    font-size: $f30;
    line-height: 120%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: #33C5F3;
    margin-bottom: $f46;
    max-width: 100%;
  }
}

.time {
  position: relative;
  padding-top: $f30;
  margin-bottom: $f60;
}

.time__block {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: $f40;
  padding-bottom: $f30;

  p {
    font-style: normal;
    font-weight: bold;
    font-size: $f20;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #37364D;
    margin-bottom: 0;
    margin-top: 2vw;
  }
}

//использовал решение через letter-spacing тк это ед способ, как я видел сделать цифры как в макете

.time__block-day {
  width: $f100;

  &:last-child {
    .time-count__val {
      letter-spacing: 7.65vw;
    }
  }

  &:nth-child(2) {
    .time-count__val {
      letter-spacing: 8vw;
      left: -3.2vw;
    }
  }
}

.time__block-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 54vw;
}

.time-count__val {
  width: 14vw;
  min-width: 14vw;
  max-width: 14vw;
  text-align: justify;
  left: -3vw;
  height: 5.625vw;
  letter-spacing: 8vw;
  // min-height: 7.5vw;
  // min-width: 8.75vw;
  font-style: normal;
  font-weight: bold;
  font-size: 6vw;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  position: relative;

  //блоки наложил как фоновые элементы

  &::before {
    content: "";
    position: absolute;
    width: $f149;
    height: 7.5vw;
    background: linear-gradient(180deg, #515151 0%, #3A3A3A 100%);
    border-radius: 8px;
    z-index: -1;
    left: -3vw;
    top: -1vw;
  }

  &::after {
    content: "";
    position: absolute;
    width: $f149;
    height: 7.5vw;
    background: linear-gradient(180deg, #515151 0%, #3A3A3A 100%);
    border-radius: 8px;
    z-index: -1;
    right: -3.2vw;
    top: -1vw;
  }
}

.time__day-wrap {
  display: flex;
}

.time__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 6.8vw;
  padding-right: 6.8vw;

  input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(39, 104, 231, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1vw $f28;

    &:focus {
      border: 1px solid #33C5F3;
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    color: #000;
    line-height: 130%;
    text-transform: none;
    text-align: left;
    margin-right: $f70;
    min-width: 23vw;
  }
}

.time__form-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: $f20;
  min-width: 19vw;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: $f14;
    line-height: 130%;
    text-align: right;
    color: #37364D;
    text-transform: none;
    margin: 0;
    text-align: right;
    margin-top: $f20;
  }

  a {
    font-style: normal;
    font-weight: normal;
    font-size: $f14;
    line-height: 130%;
    text-align: right;
    color: #33C5F3;
    padding-left: 0.3vw;
  }
}

.time__sub-btn {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 1.13vw;
  background-color: #33C5F3;
  background: -webkit-gradient(linear, left top, right top, from(#88E2FF), color-stop(#A88AFF), color-stop(#88E2FF), to(#A88AFF));
  background: -o-linear-gradient(left, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  background: linear-gradient(
                  90deg
          , #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  background-size: 320% 200%!important;
  -webkit-animation: GradientBreathe 4s linear infinite;
  animation: GradientBreathe 4s linear infinite;
  -webkit-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
  border-radius: 8px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 1.375vw 3.8vw;
}

@media (max-width: $mobile-width) {
  .time {
    height: 726px;
    margin-bottom: 46px;
  }

  .time__container {
    // max-width: 336px;
    margin: 0 auto;
    height: 726px;
    max-height: none;
    background: url("../images/content/time__bg.svg") no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: 0;
      background: linear-gradient(267.89deg, rgba(199, 184, 245, 0.3) 0%, rgba(51, 197, 243, 0.3) 100%);
      background-size: cover;
      border-radius: 8px;
    }

    img {
      display: none;
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 100%;
      max-width: 295px;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      /* or 24px */
      margin-bottom: 20px;
      text-align: center;
      max-width: 295px;
    }
  }

  .time__block {
    flex-direction: column;
    align-items: center;
    padding-left: 89px;
    padding-right: 89px;
    padding-bottom: 0;


    span {
      font-style: normal;
      font-weight: bold;
      font-size: 51.431px;
      line-height: 100%;
      min-width: 75.79px;
      min-height: 64.97px;
      height: 64.97px;
      padding: 10.23px 23.82px;

      &:first-child {
        margin-right: 5.41px;
      }
    }

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 22.4286px;
      line-height: 120%;
      margin-top: 11.25px;
      margin-bottom: 20.85px;
      max-width: none;
    }
  }

  .time-count__text {
    max-width: none;
  }

  .time__block-wrapper {
    flex-direction: column;
  }

  .time-count__val {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 51.431px;
    line-height: 100%;
    height: auto;
    //left: 20px;
    /* identical to box height, or 51px */

    text-align: center;
    text-transform: uppercase;

    &::before {
      min-width: 75.79px;
      min-height: 64.97px;
      height: 64.97px;
      padding: 10.23px 23.82px;

      left: 61px;
      top: -9px;
    }

    &::after {
      min-width: 75.79px;
      min-height: 64.97px;
      height: 64.97px;
      padding: 10.23px 23.82px;
      right: 37px;
      top: -9px;
    }
  }

  .time__block-day:nth-child(2) {
    .time-count__val {
      letter-spacing: 8vw;
      left: -22px;
    }
  }

  .time__block-day {
    max-width: none;
    width: auto;
  }

  .time__form {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;

    input {
      background: #FFFFFF;
      border: 1px solid rgba(39, 104, 231, 0.2);
      box-sizing: border-box;
      border-radius: 8px;
      width: 100%;
      max-width: 295px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 28px;
      margin-bottom: 14px;
      height: 60px;

      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }
    }

    p {
      display: none;
    }
  }

  .time__sub-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    padding: 0;
    height: 62px;
    width: 100%;
    min-width: 295px;
    max-width: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .time__form-footer {
    padding-left: 0;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      text-align: left;
      margin-top: 12px;
      margin-bottom: 0;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
    }
  }

  .time__day-wrap {
    justify-content: center;
  }
}


@media (max-width: 500px) {
  .time__container {
    // max-width: 336px;
    margin: 0 auto;
    height: 726px;
    max-height: none;
    background: url("../images/content/time__bg-mob.svg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .time__block-day:nth-child(2) {
    .time-count__val {
      letter-spacing: 8vw;
      left: -11px;
    }
  }
}
