.plus__container {
  h1 {
    padding-bottom: $f36;
    max-width: 35vw;
  }

  p {
    padding-bottom: $f60;
    color: #6A6868;
    display: none;//отключение описания
  }
}

.plus__list {
  display: grid;
  grid-template-columns: repeat(2, fit-content(19vw));
  grid-auto-rows: minmax(min-content, max-content);
  grid-row-gap: $f40;
  grid-column-gap: $f40;
  align-content: center;
  align-items: center;
}

.plus__item {
  display: flex;
  align-items: flex-start;

  svg {
    min-width: $f21;
    min-height: 1vw;
    max-width: $f21;
    max-height: 1vw;
    fill: #33C5F3;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
    color: #000;
    margin-left: $f20;
  }
}

.plus__wrapper {
  display: flex;
  justify-content: space-between;
}

.plus__img-block {
  img {
    width: 42.9vw;
    height: 27.25vw;
    border-radius: 8px;
  }
}

.plus {
  padding-bottom: $f55;
  background-color: var(--grey-bg);
  margin-left: 0;
  margin-right: 0;
  padding-top: $f60;
  padding-left: $psize;
  padding-right: $psize;
}

//window-pvh.html style
.plus__advantage-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: $f20;
  padding-top: $f60;
}

.plus__advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  padding-top: $f40;
  padding-bottom: $f40;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: $f24;
    line-height: 120%;
    text-align: center;
    margin-bottom: $f20;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
    color: #000;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
}

.plus__advantage-item-img-block {
  width: 4.69vw;
  height: 4.69vw;
  border-radius: 50%;
  border: 1px solid #33C5F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: $f20;

  svg {
    width: $f34;
    height: $f34;
    fill: #33C5F3;
  }
}

//переопределение стилей для swingdoors.html
.plus__list-swingdoors {
  grid-template-columns: auto;
  grid-template-rows: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plus__wrapper-swingdoors {
  align-items: center;
}

.plus__img-block-swingdoors {
  img {
    width: 43.13vw;
    height: 28.25vw;
    border-radius: 8px;
  }
}

//корректировки для страницы autodoors
.plus-autodoors {
  background-color: #fff;

  .plus__container {
    h1 {
      max-width: 100%;
    }
  }
}

.plus__wrapper-autodoors {
  flex-direction: row-reverse;
}

.plus__list-autodoors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  .plus__item {
    align-items: center;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    max-width: 38.5vw;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: $f20;
    line-height: 120%;
  }

  svg {
    position: relative;
    z-index: 200;
    min-width: $f30;
    min-height: $f30;
    fill: #C7B8F5;
  }

  .plus__item-svg-wrap {
    width: $f75;
    height: $f75;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #C7B8F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

//корректировки стилей officedoors
.plus__item-officedoors-title {
  display: flex;
  margin-left: $f20;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: $f24;
    line-height: 120%;
    margin-bottom: 0.65vw;
  }

  svg {
    position: relative;
    left: -$f20;
    top: 0.2vw;
  }
}

.plus__item-officedoors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin-left: 2.55vw;
  }
}

.plus__list-officedoors {
  display: flex;
  flex-direction: column;
}

//коорректировка стилей на странице panoramic
.plus__panoramic-advantages {
  background-color: var(--grey-bg);
  margin-left: 0;
  margin-right: 0;
  padding-left: $psize;
  padding-right: $psize;
  padding-top: $f60;
  padding-bottom: $f60;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: $f36;
    line-height: 100%;
  }
}

//корректировка стилей для страницы inproup
.plus__advantage-list-ingroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .plus__advantage-item {
    p {
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }
}

.plus-ingrpup {
  background-color: #fff;
}



@media (max-width: $mobile-width) {
  .plus__list {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    row-gap: 24px;
    column-gap: 0;
  }

  .plus__wrapper {
    flex-direction: column-reverse;
  }

  .plus__container {
    h1 {
      padding-bottom: 32px;
      max-width: 335px;
    }

    p {
      padding-bottom: 30px;
      max-width: 335px;
    }
  }

  .plus__img-block {
    img {
      min-width: 335px;
      width: 100%;
      height: 303.44px;
      margin-bottom: 30px;
      object-fit: cover;
    }
  }

  .plus__item {
    svg {
      min-width: 21.09px;
      min-height: 16px;
      max-width: 21.09px;
      max-height: 16px;
    }

    p {
      margin-left: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      max-width: none;
    }
  }

  .plus {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: #fff;
  }

  //window-pvh.html style
  .plus__advantage-list {
    display: grid;
    grid-template-columns: auto;
    padding-top: 40px;
  }

  .plus__advantage-item {
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: 22px;
      padding-bottom: 20px;
    }

    p {
      font-size: 16px;
    }
  }

  .plus__advantage-item-img-block {
    width: 75px;
    height: 75px;

    svg {
      width: 33.17px;
      height: 33.01px;
    }
  }

  //корректировки для страницы autodoors
  .plus__list-autodoors {
    h2 {
      max-width: none;
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }

    svg {
      min-width: 30px;
      min-height: 30px;
    }

    .plus__item-svg-wrap {
      width: 75px;
      height: 74.89px;
    }
  }

  //корректировки стилей officedoors
  .plus__item-officedoors-title {
    h2 {
      font-size: 22px;
      margin-bottom: 14px;
    }
  }

  //коорректировка стилей на странице panoramic
  .plus__panoramic-advantages {
    background-color: var(--grey-bg);
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 40px;

    h1 {
      font-size: 26px;
    }
  }
}
