include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU" data-theme="light")
  include ../helpers/head
  body(class="body")
    .wrapper
      include ../modules/header/header
      include ../modules/header/header-nav-cantact
      include ../modules/map-contact
      block content
      include ../modules/action
      include ../modules/time
      include ../modules/footer/footer
      include ../modules/modal
      include ../modules/modal-action
      include ../modules/modal-reviews
      script(src="js/main.js")