include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU" data-theme="light")
	include ../helpers/head
	body(class="body")
		.wrapper
			include ../modules/header/header
			include ../modules/header/header-nav-facade
			block content
			include ../modules/works
			include ../modules/whyus
			include ../modules/reviews
			include ../modules/time
			include ../modules/map
			include ../modules/footer/footer
			include ../modules/modal
			include ../modules/modal-action
			include ../modules/modal-reviews
			include ../modules/modal-call
			script(src="js/vendors.js")
			script(src="js/main.js")
