include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU" data-theme="light")
	include ../helpers/head
	body(class="body")
		.wrapper
			include ../modules/header/header
			block content
			include ../modules/advantages-main
			include ../modules/service
			include ../modules/call
			block content2
			include ../modules/works-main
			//include ../modules/action
			block content3
			include ../modules/time
			include ../modules/calc-main
			block content4
			include ../modules/reviews-main
			include ../modules/map-main
			include ../modules/faq-main
			include ../modules/footer/footer
			include ../helpers/modals
			script(src="js/vendors.js")
			script(src="js/main.js")
