extends layout/action-layout

block variables
  -var title = 'Скидка на пластиковые и алюминиевые окна - 30 процентов!'
  - var description = 'Главная страница сайта'

block content
    section
        .main-info.main-info__action-page
            .main-info__container.action__special-container
                span(class="action__season") Сезонное предложение.
                span(class="action__season-date") до 28 февраля
                //a(href="#" class="main-info__location") работаем в Москве и области
                //    +icon("marker")
                h1(data-da="main-info__mob,first,867") Скидка на пластиковые и алюминиевые окна - 30 процентов!
                //p(data-da="main-info__mob,first,867") Наличие входной группы с автоматическими дверьми - это признак современного здания, престижа, комфорта и функциональности.
                a(href="#" class="main-info__link-more link__action-slae" data-da="main-info__mob,first,867") Получить скидку
                picture
                    source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/present.webp 1x, images/content/present@2x.webp 2x")
                    img(src="images/content/present.png" srcset="images/content/present@2x.png" class="action__present" alt="картинка окна")
            .action-page__form.calc__form-wrap
                form(class="calc__form" id="actionform" method="post")
                    input(type="text" name="name" id="autor" placeholder="Имя" title="Введите имя" minlength="2" maxlength="30" required)
                    input(type="tel" name="phone" id="mobile" placeholder="Номер телефона" title="Введите телефон" minlength="3" maxlength="30" required)
                    .calc__form-footer
                        button(type="submit" class="calc__sub-btn sub-btn") Получить скидку
                        p Нажимая на кнопку вы соглашаетесь на обработку
                            a(href="#") персональных данных
                p Специалисты Токада помогут вам с выбором, ответят на все вопросы и рассчитают стоимость окон!
        .main-info__mob
    section.special
        .special__list
            .special__item.special-action__item
                .specila__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-action__img1.webp 1x, images/content/special-action__img1@2x.webp 2x")
                        img(src="images/content/special-action__img1.jpg" srcset="images/content/special-action__img1@2x.jpg" alt="картинка окна")
                h2 Рассрочка без переплат!
                span Действует без ограничений
                .offer__popup-block
                    p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                    a(href="actionsingle.html") Подробнее
            .special__item.special-action__item
                .specila__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-action__img2.webp 1x, images/content/special-action__img2@2x.webp 2x")
                        img(src="images/content/special-action__img2.jpg" srcset="images/content/special-action__img2@2x.jpg" alt="картинка окна")
                h2 Скидка на продукцию и монтаж
                span 25 ноября - 5 декабря
                .offer__popup-block
                    p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                    a(href="actionsingle-2.html") Подробнее
            .special__item.special-action__item
                .specila__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-action__img3.webp 1x, images/content/special-action__img3@2x.webp 2x")
                        img(src="images/content/special-action__img3.jpg" srcset="images/content/special-action__img3@2x.jpg" alt="картинка окна")
                h2 Зимний монтаж
                span 25 ноября - 5 декабря
                .offer__popup-block
                    p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                    a(href="actionsingle-3.html") Подробнее
