extends layout/aluminumdoors-layout

block variables
  -var title = 'Алюминиевые двери от производителя'
  - var description = 'Главная страница сайта'

block content
  section
    .main-info.main-info__aluminumdoors-page.main-info__other-page
      .main-info__container
        a(href="#" class="main-info__location") Москва и Московская область
          +icon("marker")
        h1(data-da="main-info__mob,first,867") Алюминиевые ДВЕРИ от производителя
        //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
        //a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Получить скидку 30% на остекление
    .main-info__mob
  section.types
    .types__container
      //h1 Виды дверей из алюминия
      .types__title
        h1 Виды дверей из алюминия
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
      .types__main
        .types__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/aluminumdoors__img1.webp 1x, images/content/aluminumdoors__img1@2x.webp 2x")
            img(src="images/content/aluminumdoors__img1.png" srcset="images/content/aluminumdoors__img1@2x.png" class="types__img-window" alt="картинка окна")
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem.webp 1x, images/content/window-elem@2x.webp 2x")
            img(src="images/content/window-elem.png" srcset="images/content/window-elem@2x.png" class="types__img-elem" alt="картинка за окном")
        .types__text-col

          h2 Теплый профиль
          p Теплые алюминиевые двери - это входные группы, основная задача которых заключается в создании оптимального микроклимата в помещении.
          .types__advantages-list
            .types__advantages-item
              .types__svg-block
                +icon("cup")
              p Максимальное тепло
            .types__advantages-item
              .types__svg-block
                +icon("lock")
              p Долговечность
            .types__advantages-item
              .types__svg-block
                +icon("flower")
              p Эстетичность
      .types__btn-block
        a(href="officedoors.html") Смотреть подробнее
  section.types.types--second
    .types__container
      .types__main.types__main--second
        .types__text-col

          h2 Холодный профиль
          p Холодные двери из алюминиевого профиля используются как внутренние, в составе с офисными перегородками, отдельно стоящие, межкомнатные, межэтажные, в составе входных групп.
          .types__advantages-list
            .types__advantages-item.types__advantages-item--second
              .types__svg-block.types__svg-block--second
                +icon("pen")
              p Легкая конструкция
            .types__advantages-item.types__advantages-item--second
              .types__svg-block.types__svg-block--second
                +icon("san")
              p Максимум света
            .types__advantages-item.types__advantages-item--second
              .types__svg-block.types__svg-block--second
                include ../static/images/content/many.svg
              p Недорогой вариант
        .types__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/aluminumdoors__img2.webp 1x, images/content/aluminumdoors__img2@2x.webp 2x")
            img(src="images/content/aluminumdoors__img2.png" srcset="images/content/aluminumdoors__img2@2x.png" class="types__img-window" alt="картинка окна")
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem.webp 1x, images/content/window-elem@2x.webp 2x")
            img(src="images/content/window-elem.png" srcset="images/content/window-elem@2x.png" class="types__img-elem-second" alt="картинка за окном")
      .types__btn-block
        a(href="doors.html") Смотреть подробнее
  section.types-open
    .types-open__container
      h1 Способы остекления
      p Мы осуществляем остекление дверей при помощи новейших технологий, современного оборудования и высококачественных материалов.
    .types-open__list
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open-alumin__item-img1.webp 1x, images/content/types-open-alumin__item-img1@2x.webp 2x")
            img(src="images/content/types-open-alumin__item-img1.png" srcset="images/content/types-open-alumin__item-img1@2x.png" alt="картинка окна")
        h2 Глухое заполнение
        p Оптимальный способ разграничения пространства за максимально короткое время и с минимумом затрат.
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open-alumin__item-img2.webp 1x, images/content/types-open-alumin__item-img2@2x.webp 2x")
            img(src="images/content/types-open-alumin__item-img2.png" srcset="images/content/types-open-alumin__item-img2@2x.png" alt="картинка окна")
        h2 Комбинированное заполнение
        p Комбинированные перегородки наиболее функциональны и универсальны, они позволяют объединить в одном модуле остекление с непрозрачными вставками.
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open-alumin__item-img3.webp 1x, images/content/types-open-alumin__item-img3@2x.webp 2x")
            img(src="images/content/types-open-alumin__item-img3.png" srcset="images/content/types-open-alumin__item-img3@2x.png" alt="картинка окна")
        h2 Стеклянное заполнение
        p Это прочные и легкие конструкции, которые возводятся в короткие сроки и имеют невысокую стоимость.
