extends layout/autodoors-layout

block variables
  -var title = 'Автоматические двери от производителя'
  - var description = 'Автоматические двери от производителя'

block content
  section
    .main-info.main-info__autodoors-page.main-info__other-page
      .main-info__container
        a(href="#" class="main-info__location") Москва и Московская область
          +icon("marker")
        h1(data-da="main-info__mob,first,867") автоматические двери от производителя
        p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
        a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
    .main-info__mob
  section.type-facade
    .type-facade__container
      h1 Способы открывания
      .type-facade__titele.block__title
        p Двери с автоматикой устанавливают в местах с высокой проходимостью: на входе в торговые и развлекательные центры, спортивные комплексы, на проходных предприятий.
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
    .type-facade__slider.slider.swiper-container
      .type-facade__list.swiper-wrapper
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-autodoor-img1.webp 1x, images/content/type-autodoor-img1@2x.webp 2x")
            img(src="images/content/ttype-autodoor-img1.jpg" srcset="images/content/type-autodoor-img1@2x.jpg" alt="картинка за окном")
          h2 Раздвижные автоматические двери
          p Рекомендуем заказывать такую конструкцию для широких дверных проемов ТРЦ, кинотеатров и пр.
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-autodoor-img2.webp 1x, images/content/type-autodoor-img2@2x.webp 2x")
            img(src="images/content/type-autodoor-img2.jpg" srcset="images/content/type-autodoor-img2@2x.jpg" alt="картинка за окном")
          h2 Распашные автоматические двери
          p Распашные дверные системы предпочтительнее для мест, где предполагается односторонний поток людей.
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-autodoor-img3.webp 1x, images/content/type-autodoor-img3@2x.webp 2x")
            img(src="images/content/type-autodoor-img3.jpg" srcset="images/content/type-autodoor-img3@2x.jpg" alt="картинка за окном")
          h2 Карусельные автоматические двери
          p Устанавливают преимущественно в престижных торговых центрах, гостиницах, развлекательных заведениях и выставочных комплексах.
      .type-facade__btns
        button(type="button" class="type-facade__left type-facade__arrow swiper-button-prev slider__arrows")
        button(type="button" class="type-facade__right active type-facade__arrow swiper-button-next slider__arrows")
  section.plus.plus-autodoors
    .plus__container
      h1 Особенности автоматических дверей
      p Автоматические двери - оптимальный вариант для крупногабаритных проходов в здания с большим потоком посетителей.
    .plus__wrapper.plus__wrapper-autodoors
      .plus__list.plus__list-autodoors
        h2 Автоматическая функция открывания/закрывания позволяет существенно продлить срок эксплуатации дверного блока.
        .plus__item
          .plus__item-svg-wrap
            +icon("umbrella")
          p Исключают заторы при входе/выходе
        .plus__item
          .plus__item-svg-wrap
            +icon("clock")
          p Надежность
        .plus__item
          .plus__item-svg-wrap
            +icon("pen")
          p Высокий уровень безопасности
      .plus__img-block.plus__img-block-autodoors
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/plus__autodoors.webp 1x, images/content/plus__autodoors@2x.webp 2x")
          img(src="images/content/plus__autodoors.jpg" srcset="images/content/plus__autodoors@2x.jpg" class="types__img-window" alt="картинка окна")
