extends layout/balcony-layout

block variables
  -var title = 'Остекление балконов и лоджий от производителя'
  - var description = 'Остекление балконов и лоджий от производителя'

block content
  section
    .main-info.main-info__balcony-page.main-info__other-page
      .main-info__container
        a(href="#" class="main-info__location") Москва и Московская область
          +icon("marker")
        h1(data-da="main-info__mob,first,867") ОСТЕКЛЕНИЕ БАЛКОНОВ И ЛОДЖИЙ от производителя
        p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
        a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
    .main-info__mob
  section.types
    .types__container
      h1 Виды остекления
      .types__title
        p Остекление балконов и лоджий может быть двух видов: холодным и теплым.
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
      .types__main
        .types__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-grad.webp 1x, images/content/window-grad@2x.webp 2x")
            img(src="images/content/window-grad.png" srcset="images/content/window-grad@2x.png" class="types__img-window" alt="картинка окна")
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem.webp 1x, images/content/window-elem@2x.webp 2x")
            img(src="images/content/window-elem.png" srcset="images/content/window-elem@2x.png" class="types__img-elem" alt="картинка за окном")
        .types__text-col
          p Теплый профиль: Alutech, Krauss, Vidnal
          h2 Теплые окна
          p Теплые пластиковые окна на балконе защитят от шума, мороза. Тёплые окна - решение для помещений, где необходима тепло- и звукоизоляция.
          .types__advantages-list
            .types__advantages-item
              .types__svg-block
                +icon("cup")
              p Максимальное тепло
            .types__advantages-item
              .types__svg-block
                +icon("lock")
              p Лучшая шумоизоляция
            .types__advantages-item
              .types__svg-block
                +icon("flower")
              p Элегантный внешний вид
      .types__btn-block
        a(href="window.html") Смотреть подробнее
  section.types.types--second
    .types__container
      .types__main.types__main--second
        .types__text-col
          p Холодный профиль: Alutech, Provedal
          h2 Холодное остекление
          p Холодные алюминиевые рамы защитят балкон от снега, пыли, дождя, ветра.Холодные окна - максимально доступный по цене вариант остекления из алюминия.
          .types__advantages-list
            .types__advantages-item.types__advantages-item--second
              .types__svg-block.types__svg-block--second
                +icon("pen")
              p Легкая конструкция
            .types__advantages-item.types__advantages-item--second
              .types__svg-block.types__svg-block--second
                +icon("san")
              p Максимальное тепло
            .types__advantages-item.types__advantages-item--second
              .types__svg-block.types__svg-block--second
                +icon("many")
              p Недорогой вариант
        .types__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-grad2.webp 1x, images/content/window-grad2@2x.webp 2x")
            img(src="images/content/window-grad2.png" srcset="images/content/window-grad2@2x.png" class="types__img-window" alt="картинка окна")
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem2.webp 1x, images/content/window-elem2@2x.webp 2x")
            img(src="images/content/window-elem2.png" srcset="images/content/window-elem2@2x.png" class="types__img-elem-second" alt="картинка за окном")
      .types__btn-block
        a(href="window-pvh.html") Смотреть подробнее
  section.balcony-price
    .balcony-price__container
      h1 Сколько стоит остеклить балкон
      p На этой странице вы сможете узнать сколько стоит остекление балкона от компании “Окна  TOKADA”
      .balcony-price__list
        .balcony-price__item
          .balcony__img-wrapper
            .balcony-price__img-block
              picture
                source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/balcony-price__img1.webp 1x, images/content/balcony-price__img1@2x.webp 2x")
                img(src="images/content/balcony-price__img1.png" srcset="images/content/balcony-price__img1@2x.png" alt="картинка за окном")
          h2 Прямой балкон
          p Закажите остекление прямого балкона под ключ у “Окна TOKADA” по доступной цене.
          a(href="#" data-modal="10" class="js-open-modal") Узнать точную стоимость
        .balcony-price__item
          .balcony__img-wrapper
            .balcony-price__img-block
              picture
                source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/balcony-price__img1.webp 1x, images/content/balcony-price__img1@2x.webp 2x")
                img(src="images/content/balcony-price__img1.png" srcset="images/content/balcony-price__img1@2x.png" alt="картинка за окном")
          h2 Г-образный балкон
          p Закажите остекление Г-образного балкона под ключ у “Окна TOKADA” по доступной цене.
          a(href="#" data-modal="10" class="js-open-modal") Узнать точную стоимость
