extends layout/clients-layout

block variables
  -var title = 'Сотрудничество с корпоративными клиентами'
  - var description = 'Сотрудничество с корпоративными клиентами'

block content
  section
    .main-info.main-info__clients-page.main-info__other-page
      .main-info__container
        a(href="#" class="main-info__location") Москва и Московская область
          +icon("marker")
        h1(data-da="main-info__mob,first,867") Сотрудничество с корпоративными клиентами
        //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
        a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Подробнее
    .main-info__mob
  section.special
    .special__container
      //h1 Специальные предложения для корпоративных клиентов
      .special__title.block__title
        h1 Специальные предложения для корпоративных клиентов
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
    .special__list
      .special__item
        .specila__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special__img1.webp 1x, images/content/special__img1@2x.webp 2x")
            img(src="images/content/special__img1.jpg" srcset="images/content/special__img1@2x.jpg" alt="картинка окна")
        h2 Стационарные перегородки
        p Главное преимущество стационарных перегородок - скорость монтажа и адаптивность под нужды помещения.
        a(href="stationary.html" class="special__link")
          span Смотреть
          | Подробнее
      .special__item
        .specila__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special__img2.webp 1x, images/content/special__img2@2x.webp 2x")
            img(src="images/content/special__img2.jpg" srcset="images/content/special__img2@2x.jpg" alt="картинка окна")
        h2 Раздвижные перегородки
        p Прочные и надежные конструкции, качественный материал, прекрасная звукоизоляция.
        a(href="slidingpartitions.html" class="special__link")
          span Смотреть
          | Подробнее
      .special__item
        .specila__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special__img3.webp 1x, images/content/special__img3@2x.webp 2x")
            img(src="images/content/special__img3.jpg" srcset="images/content/special__img3@2x.jpg" alt="картинка окна")
        h2 Мобильные перегородки
        p Мобильные перегородки позволят создать индивидуальное рабочее пространство для сотрудников и повысить рабочий настрой.
        a(href="mobilepartitions.html" class="special__link")
          span Смотреть
          | Подробнее
      .special__item
        .specila__img-block
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special__img4.webp 1x, images/content/special__img4@2x.webp 2x")
            img(src="images/content/special__img4.jpg" srcset="images/content/special__img4@2x.jpg" alt="картинка окна")
        h2 Торговые павильоны
        p Остекление павильона позволяет наполнить помещение светом, что ведет к экономии электроэнергии.
        a(href="pavilions.html" class="special__link")
          span Смотреть
          | Подробнее
  section.offer
    .offer__container
      h1 Мы предлагаем сотрудничество
      p У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
      .offer__slider.swiper-container.slider
        .offer__list.swiper-wrapper
          .offer__item.swiper-slide
            h2 Архитекторам
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer__img1.webp 1x, images/content/offer__img1@2x.webp 2x")
              img(src="images/content/offer__img1.jpg" srcset="images/content/offer__img1@2x.jpg" alt="картинка окна")
            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
            .offer__popup-block
              p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
              a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
          .offer__item.swiper-slide
            h2 Дизайнерам
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer__img2.webp 1x, images/content/offer__img2@2x.webp 2x")
              img(src="images/content/offer__img2.jpg" srcset="images/content/offer__img2@2x.jpg" alt="картинка окна")
            .offer__popup-block
              p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
              a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
          .offer__item.swiper-slide
            h2 Строительным организациям
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer__img3.webp 1x, images/content/offer__img3@2x.webp 2x")
              img(src="images/content/offer__img3.jpg" srcset="images/content/offer__img3@2x.jpg" alt="картинка окна")
            .offer__popup-block
              p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
              a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
          .offer__item.swiper-slide
            h2 Производствам
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer__img4.webp 1x, images/content/offer__img4@2x.webp 2x")
              img(src="images/content/offer__img4.jpg" srcset="images/content/offer__img4@2x.jpg" alt="картинка окна")
            .offer__popup-block
              p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
              a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
          .offer__item.swiper-slide
            h2 Бюджетным организациям
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer__img5.webp 1x, images/content/offer__img5@2x.webp 2x")
              img(src="images/content/offer__img5.jpg" srcset="images/content/offer__img5@2x.jpg" alt="картинка окна")
            .offer__popup-block
              p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
              a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
          .offer__item.swiper-slide
            h2 Строителям и прорабам
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer__img6.webp 1x, images/content/offer__img6@2x.webp 2x")
              img(src="images/content/offer__img6.jpg" srcset="images/content/offer__img6@2x.jpg" alt="картинка окна")
            .offer__popup-block
              p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
              a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
        .offer__btns
          a(href="#" class="offer__arrow offer__left swiper-button-prev slider__arrows")
          a(href="#" class="offer__arrow offer__right active swiper-button-next slider__arrows")
block content2
