extends layout/comment-layout

block variables
  -var title = 'Отзывы'
  - var description = 'Отзывы о компании'

block content
  section.comments
    .comments__container
      h1 Отзывы
      .comments__title
        <!-- reviews__option из блока reviews для стилизации переключателей-->
        .comments__option.reviews__options
          input(type="radio" id="rev-1" name="radio-rev"  checked)
          label(for="rev-1") Все отзывы
          input(type="radio" id="rev-2" name="radio-rev")
          label(for="rev-2") Отзывы в Yandex
          input(type="radio" id="rev-3" name="radio-rev")
          label(for="rev-3") Отзывы в Google
        a(href="#" class="js-open-modal" data-modal="2") Оставить отзыв
      .comments__list
        <!-- .reviews__item из блока reviews для стилизации обьекта комментария-->
        .reviews__item.comments__item
          .reviews__item-title
            .reviews__star-list
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/reviews__company1.webp 1x, images/content/reviews__company1@2x.webp 2x")
              img(src="images/content/reviews__company1.jpg" srcset="images/content/reviews__company1@2x.jpg" alt="название копании")
          p Установка окон данной компанией в квартире, Москва (договор ФО8-554334). Не буду оценивать качество, надежность и долговечность, используемых данной организацией профилей Deceuninck и фурнитуры Elementis, при изготовлении пластиковых окон...
          .reviews__item-footer
            .reviews__item-footer-wrap
              p Сергей
              p 19.10.2020
        .reviews__item.comments__item
          .reviews__item-title
            .reviews__star-list
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/reviews__company1.webp 1x, images/content/reviews__company1@2x.webp 2x")
              img(src="images/content/reviews__company1.jpg" srcset="images/content/reviews__company1@2x.jpg" alt="название копании")
          p Установка окон данной компанией в квартире, Москва (договор ФО8-554334). Не буду оценивать качество, надежность и долговечность, используемых данной организацией профилей Deceuninck и фурнитуры Elementis, при изготовлении пластиковых окон...
          .reviews__item-footer
            .reviews__item-footer-wrap
              p Сергей
              p 19.10.2020
        .reviews__item.comments__item
          .reviews__item-title
            .reviews__star-list
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/reviews__company1.webp 1x, images/content/reviews__company1@2x.webp 2x")
              img(src="images/content/reviews__company1.jpg" srcset="images/content/reviews__company1@2x.jpg" alt="название копании")
          p Установка окон данной компанией в квартире, Москва (договор ФО8-554334). Не буду оценивать качество, надежность и долговечность, используемых данной организацией профилей Deceuninck и фурнитуры Elementis, при изготовлении пластиковых окон...
          .reviews__item-footer
            .reviews__item-footer-wrap
              p Сергей
              p 19.10.2020
        .reviews__item.comments__item
          .reviews__item-title
            .reviews__star-list
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/reviews__company1.webp 1x, images/content/reviews__company1@2x.webp 2x")
              img(src="images/content/reviews__company1.jpg" srcset="images/content/reviews__company1@2x.jpg" alt="название копании")
          p Установка окон данной компанией в квартире, Москва (договор ФО8-554334). Не буду оценивать качество, надежность и долговечность, используемых данной организацией профилей Deceuninck и фурнитуры Elementis, при изготовлении пластиковых окон...
          .reviews__item-footer
            .reviews__item-footer-wrap
              p Сергей
              p 19.10.2020
        .reviews__item.comments__item
          .reviews__item-title
            .reviews__star-list
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/reviews__company1.webp 1x, images/content/reviews__company1@2x.webp 2x")
              img(src="images/content/reviews__company1.jpg" srcset="images/content/reviews__company1@2x.jpg" alt="название копании")
          p Установка окон данной компанией в квартире, Москва (договор ФО8-554334). Не буду оценивать качество, надежность и долговечность, используемых данной организацией профилей Deceuninck и фурнитуры Elementis, при изготовлении пластиковых окон...
          .reviews__item-footer
            .reviews__item-footer-wrap
              p Сергей
              p 19.10.2020
        .reviews__item.comments__item
          .reviews__item-title
            .reviews__star-list
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
              +icon("star")
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/reviews__company1.webp 1x, images/content/reviews__company1@2x.webp 2x")
              img(src="images/content/reviews__company1.jpg" srcset="images/content/reviews__company1@2x.jpg" alt="название копании")
          p Установка окон данной компанией в квартире, Москва (договор ФО8-554334). Не буду оценивать качество, надежность и долговечность, используемых данной организацией профилей Deceuninck и фурнитуры Elementis, при изготовлении пластиковых окон...
          .reviews__item-footer
            .reviews__item-footer-wrap
              p Сергей
              p 19.10.2020
      .comments__btn
        a(href="#") Показать еще
