extends layout/commentone-layout

block variables
  -var title = 'Отзыв от 14.11.2020'
  - var description = 'Отзыв от 14.11.2020'

block content
  section.commentone
    .commentone__container
      h1 Отзыв от 14.11.2020
      .commentone__wrapper
        .commentone__block
          <!-- .reviews__item из блока reviews для стилизации обьекта комментария-->
          .reviews__item.commentone__item
            .reviews__item-title
              .reviews__star-list
                +icon("star")
                +icon("star")
                +icon("star")
                +icon("star")
                +icon("star")
              picture
                source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/reviews__company1.webp 1x, images/content/reviews__company1@2x.webp 2x")
                img(src="images/content/reviews__company1.jpg" srcset="images/content/reviews__company1@2x.jpg" alt="название копании")
            .commentone__text
              p Вообще я человек дотошный, внимательно вникающий в суть дела. Перед тем как заказывать новые пластиковые окна, предпочел объехать несколько фирм и ознакомиться с предлагаемой оконной продукцией на образцах. В итоге остановил свой выбор на компании «Сити Окна». Заказал остекление трехкомнатной квартиры под ключ. Могу сказать, что от замеров до полной установки окон прошло немного – всего 10 дней. К работе специалистов претензий у меня нет. Монтаж заказывал по госту. Пусть это и дороже, чем обычная установка, но зато никаких переживаний по поводу сквозняков, плесени и протечек по периметру окна и на откосах. У меня – 4камерный профиль proline, фурнитура мако, австрийская, подоконник обычный белый пластиковый шел в комплекте с окном. Нисколько не жалею о своем выборе. Компания действительно работает на отлично. Менеджеры очень предупредительные, все задержки и переносы оговаривались заранее. Никаких форс-мажоров с отпрашиванием с работы не было, несмотря на то, что переносилась и доставка, и установка. По факту – в квартире стало заметно теплее, уменьшился уровень шума. Я доволен работой фирмы. Поэтому хочется передать благодарность тем, кто участвовал в выполнении моего заказа, - от менеджера до монтажной бригады. Договор № 46-2372. Впечатления только положительные. При удобном случае обязательно порекомендую вашу компанию своим знакомым.
            .reviews__item-footer
              .reviews__item-footer-wrap
                p Сергей
                p 19.10.2020
        .commentone__info
          p Мы дорожим своей репутацией, поэтому постоянно совершенствуем свою работу. Нам очень важно каждое мнение и замечание.
          .commentone__info-btns
            a(href="#") Читать на Яндексе
            a(href="#") Оставить отзыв
