extends layout/complete-layout

block variables
  -var title = 'Комплектующие для окон'
  - var description = 'Комплектующие для окон'

block content
  section
    .main-info.main-info__complete-page.main-info__other-page
      .main-info__container
        a(href="#" class="main-info__location") Москва и Московская область
          +icon("marker")
        h1(data-da="main-info__mob,first,867") Комплектующие для окон
        //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
        a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Получить скидку 30% на остекление
    .main-info__mob
  section.sfer-use
    .sfer-use__container
      //h1 Комплектующие для окон
      .complete__title.block__title
        h1 Комплектующие для окон
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
      .sfer-use__list
        .sfer-use__item.sfer-use__item--complete
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use-complete__img1.webp 1x, images/content/sfer-use-complete__img1@2x.webp 2x")
              img(src="images/content/sfer-use-complete__img1.jpg" srcset="images/content/sfer-use-complete__img1@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Стеклопакеты
            p Стеклопакет - главная деталь остекления, от устройства которой в наибольшей мере зависят параметры окна.
            .sfer-use__link-wrap
              a(href="glassunit.html" class="sfer-use__link") Смотреть подробнее
        .sfer-use__item.sfer-use__item--complete
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use-complete__img2.webp 1x, images/content/sfer-use-complete__img2@2x.webp 2x")
              img(src="images/content/sfer-use-complete__img2.jpg" srcset="images/content/sfer-use-complete__img2@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Подоконники
            p Подоконник - важный элемент интерьера. Он делает законченным оконный проем, служит полкой и даже сиденьем.
            .sfer-use__link-wrap
              a(href="windowsill.html" class="sfer-use__link") Смотреть подробнее
        .sfer-use__item.sfer-use__item--complete
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use-complete__img3.webp 1x, images/content/sfer-use-complete__img3@2x.webp 2x")
              img(src="images/content/sfer-use-complete__img3.jpg" srcset="images/content/sfer-use-complete__img3@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Москитные сетки
            p Москитная сетка - наиболее оптимальный способ борьбы с вредными насекомыми.
            .sfer-use__link-wrap
              a(href="mosquito.html" class="sfer-use__link") Смотреть подробнее
        .sfer-use__item.sfer-use__item--complete
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use-complete__img4.webp 1x, images/content/sfer-use-complete__img4@2x.webp 2x")
              img(src="images/content/sfer-use-complete__img4.jpg" srcset="images/content/sfer-use-complete__img4@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Жалюзи
            p Жалюзи - достойная альтернатива традиционным тканевым шторам. Они позволяют регулировать освещенность комнаты, и служат эффектным дополнением интерьера.
            .sfer-use__link-wrap
              a(href="jalousie.html" class="sfer-use__link") Смотреть подробнее
  section.other-vars
    .other-vars__container
      h1 Фурнитура и декоративные решения
      p Фурнитура является одним из важнейших элементов современного металлопластикового окна, ведь она влияет на комфорт и срок эксплуатации окна.
    .other-vars__wrapper
      .other-vars__item
        .other-vars__item-wrapper.other-vars__item-wrapper-complete
          .other-vars__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/other-vars-complete__item-img1.webp 1x, images/content/other-vars-complete__item-img1@2x.webp 2x")
              img(src="images/content/other-vars-complete__item-img1.jpg" srcset="images/content/other-vars-complete__item-img1@2x.jpg" alt="картинка окна")
          .other-vars__item-col
            h2 Фурнитура
            p Фурнитура одновременно выполняет несколько функций: безопасность, герметичность, вентиляция, комфорт.
            .other-vars__point-list.other-vars__point-list--complete
              .other-vars__point-item
                +icon("pint")
                p Ручки
              .other-vars__point-item
                +icon("pint")
                p Рамные детали
              .other-vars__point-item
                +icon("pint")
                p Петлевые группы
        .other-vars__btns
          a(href="fittings.html" class="disabled-on-mob") Смотреть подробнее
          a(href="fittings.html" class="disabled-on-desktop") Подробнее
      .other-vars__item
        .other-vars__item-wrapper.other-vars__item-wrapper--second.other-vars__item-wrapper-complete
          .other-vars__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/other-vars-complete__item-img2.webp 1x, images/content/other-vars-complete__item-img2@2x.webp 2x")
              img(src="images/content/other-vars-complete__item-img2.jpg" srcset="images/content/other-vars-complete__item-img2@2x.jpg" alt="картинка окна")
          .other-vars__item-col
            h2 Ламинация
            p Ламинация оконного профиля - отличный способ придать пластиковым окнам выразительность и индивидуальность.
            .other-vars__point-list.other-vars__point-list--complete
              .other-vars__point-item
                +icon("pint")
                p Ламинация
              .other-vars__point-item
                +icon("pint")
                p Цветная ламинация
              .other-vars__point-item
                +icon("pint")
                p Ламинация готовых окон
        .other-vars__btns
          a(href="laminate.html" class="disabled-on-mob") Смотреть подробнее
          a(href="laminate.html" class="disabled-on-desktop") Подробнее
