extends layout/contact-layout

block variables
	-var title = 'Контакты'
	- var description = 'Контакты'

block content
	section.contact-form
		<!--.calc__form-wrap взят из блока calc, применены стили от contact-form для кнопки и отступов -->
		.calc__form-wrap.contact-form__wrap
			form(class="calc__form" id="contactform" method="post")
				input(type="text" name="name" id="autor" placeholder="Имя" title="Введите имя" minlength="2" maxlength="30" required)
				input(type="tel" name="phone" id="mobile" placeholder="Номер телефона" title="Введите телефон" minlength="3" maxlength="30" required)
				.calc__form-footer
					button(type="submit" class="calc__sub-btn") Отправить
					p Нажимая на кнопку вы соглашаетесь на обработку
						a(href="#") персональных данных
			p Специалисты компании «TOKADA» помогут вам с выбором, ответят на все вопросы и рассчитают стоимость окон!
