extends layout/doors-layout

block variables
    -var title = 'Двери от производителя'
    - var description = 'Двери от производителя'

block content
  section
    .main-info.main-info__doors-page.main-info__other-page
        .main-info__container
            a(href="#" class="main-info__location") Москва и Московская область
                +icon("marker")
            h1(data-da="main-info__mob,first,867") двери от производителя
            //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
            a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Получить скидку 30% на остекление
    .main-info__mob
  section.types-profile
    .types-profile__container
      //h1 Виды дверей
      .doors__title.block__title
        h1 Виды дверей
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
    .types-profile__list
      .types-profile__item
        h2 Алюминиевые двери
        p Алюминиевые двери обладают непревзойденными эксплуатационными характеристиками, а именно: надежностью и долговечностью.
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/doors__item-img1.webp 1x, images/content/doors__item-img1@2x.webp 2x")
          img(src="images/content/doors__item-img1.jpg" srcset="images/content/doors__item-img1@2x.jpg" alt="картинка окна")
        .types-profile__advantages-list
          .types-profile__advantages-item
            .types-profile__svg
              +icon("clock")
            p Долговечность
          .types-profile__advantages-item
            .types-profile__svg
              +icon("voice")
            p Высокая шумоизоляция
        .types-profile__btn
          a(href="aluminumdoors.html" class="types-profile__link disabled-on-mob") Смотреть подробнее
          a(href="aluminumdoors.html" class="types-profile__link disabled-on-desktop") Подробнее
      .types-profile__item
        h2 Двери ПВХ
        p Главные преимуществом пластмассовых дверей остается их практичность. Они не гниют, не ржавеют и легко моются.
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/doors__item-img2.webp 1x, images/content/doors__item-img2@2x.webp 2x")
          img(src="images/content/doors__item-img2.jpg" srcset="images/content/doors__item-img2@2x.jpg" alt="картинка окна")
        .types-profile__advantages-list
          .types-profile__advantages-item.types-profile__advantages-item--second
            .types-profile__svg.types-profile__svg--second
              +icon("cup")
            p Сохранение тепла
          .types-profile__advantages-item.types-profile__advantages-item--second
            .types-profile__svg.types-profile__svg--second
              +icon("flower")
            p Элегантный внешний вид
        .types-profile__btn
          a(href="doorspvh.html" class="types-profile__link disabled-on-mob") Смотреть подробнее
          a(href="doorspvh.html" class="types-profile__link disabled-on-desktop") Подробнее
  section.types-open
    .types-open__container
      h1 Способы открывания
      p Наша компания предоставляет выбор способа открывания алюминиевых и пластиковых дверей.
    .types-open__list
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__item-img1.webp 1x, images/content/types-open__item-img1@2x.webp 2x")
            img(src="images/content/types-open__item-img1.png" srcset="images/content/types-open__item-img1@2x.png" alt="картинка окна")
        h2 Распашные двери
        p Классический вид дверей. Самый простой вариант, не требующий сложных механизмов при монтаже.
        a(href="Swingdoors.html") Подробнее
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__item-img2.webp 1x, images/content/types-open__item-img2@2x.webp 2x")
            img(src="images/content/types-open__item-img2.png" srcset="images/content/types-open__item-img2@2x.png" alt="картинка окна")
        h2 Раздвижные двери
        p Стильное, современное и практичное решение для обустройства как просторных помещений, так и малогабаритных комнат.
        a(href="slidingdoors.html") Подробнее
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__item-img3.webp 1x, images/content/types-open__item-img3@2x.webp 2x")
            img(src="images/content/types-open__item-img3.png" srcset="images/content/types-open__item-img3@2x.png" alt="картинка окна")
        h2 Автоматические двери
        p Идеальное воплощение концепта «умного дома». Незаменимая деталь в общественных зданиях, магазинах, крупных компаниях.
        a(href="autodoors.html") Подробнее
  section.other-vars
    .other-vars__container
      h1 Другие вариации
      p Двери и лофт-перегородки в офисе обеспечивают комфорт, тишину рабочего пространства, разделение функциональных зон.
    .other-vars_wrapper
      .other-vars__item
        .other-vars__item-wrapper
          .other-vars__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/other-vars__item-img1.webp 1x, images/content/other-vars__item-img1@2x.webp 2x")
              img(src="images/content/other-vars__item-img1.jpg" srcset="images/content/other-vars__item-img1@2x.jpg" alt="картинка окна")
          .other-vars__item-col
            h2 Офисные двери
            p Первый взгляд - самый важный, и входная дверь в офис является лицом компании.
            .other-vars__point-list
              .other-vars__point-item
                +icon("pint")
                p Долговечность
              .other-vars__point-item
                +icon("pint")
                p Максимальная шумоизоляция
              .other-vars__point-item
                +icon("pint")
                p Недорогой вариант
        .other-vars__btns
          a(href="officedoors.html" class="disabled-on-mob") Смотреть подробнее
          a(href="officedoors.html" class="disabled-on-desktop") Подробнее
      .other-vars__item
        .other-vars__item-wrapper.other-vars__item-wrapper--second
          .other-vars__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/other-vars__item-img2.webp 1x, images/content/other-vars__item-img2@2x.webp 2x")
              img(src="images/content/other-vars__item-img2.jpg" srcset="images/content/other-vars__item-img2@2x.jpg" alt="картинка окна")
          .other-vars__item-col
            h2 Лофт перегородки
            p Стильные, красивые, функциональные лофт перегородки – это простой способ осуществить зонирование помещения.
            .other-vars__point-list
              .other-vars__point-item
                +icon("pint")
                p Легкие конструкции
              .other-vars__point-item
                +icon("pint")
                p Хороший уровень звукоизоляции
              .other-vars__point-item
                +icon("pint")
                p Долгий срок службы
        .other-vars__btns
          a(href="loftpatitions.html" class="disabled-on-mob") Смотреть подробнее
          a(href="loftpatitions.html" class="disabled-on-desktop") Подробнее
