extends layout/facade-layout

block variables
    -var title = 'Фасады от производителя'
    - var description = 'Фасады от производителя'

block content
  section
    .main-info.main-info__facade-page.main-info__other-page
        .main-info__container
            a(href="#" class="main-info__location") Москва и Московская область
                +icon("marker")
            h1(data-da="main-info__mob,first,867") фасады от производителя
            //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
            a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Подробнее
    .main-info__mob
  section.type-facade
    .type-facade__container
      //h1 Виды фасадных остеклений
      .type-facade__titele.block__title
        h1 Виды фасадных остеклений
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
    .type-facade__slider.slider.swiper-container
      .type-facade__list.swiper-wrapper
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-facade__img1.webp 1x, images/content/type-facade__img1@2x.webp 2x")
            img(src="images/content/type-facade__img1.jpg" srcset="images/content/type-facade__img1@2x.jpg" alt="картинка за окном")
          h2 Структурное
          p Структурное остекление фасадов дает приток естественного солнечного света,  современность и легкость внешнему виду.
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-facade__img2.webp 1x, images/content/type-facade__img2@2x.webp 2x")
            img(src="images/content/type-facade__img2.jpg" srcset="images/content/type-facade__img2@2x.jpg" alt="картинка за окном")
          h2 Полуструктурное
          p Полуструктурное остекление фасада – это сочетание высокой надежности  и эстетичности структурных решений.
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-facade__img3.webp 1x, images/content/type-facade__img3@2x.webp 2x")
            img(src="images/content/type-facade__img3.jpg" srcset="images/content/type-facade__img3@2x.jpg" alt="картинка за окном")
          h2 Спайдерное
          p Спайдерная система остекления позволяет небольшими крепежами стягивать стеклянные полотна большой площади.
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-facade__img4.webp 1x, images/content/type-facade__img4@2x.webp 2x")
            img(src="images/content/type-facade__img4.jpg" srcset="images/content/type-facade__img4@2x.jpg" alt="картинка за окном")
          h2 Стоечно-ригельное
          p Такая система остекления актуальна для оформления промышленных и коммерческих зданий, высотных и частных домов.
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-facade__img5.webp 1x, images/content/type-facade__img5@2x.webp 2x")
            img(src="images/content/type-facade__img5.jpg" srcset="images/content/type-facade__img5@2x.jpg" alt="картинка за окном")
          h2 Джамбо-остекление
          p Объекты с этим остеклением выделяются на фоне городских многоэтажек. Внутри помещений с “джамбо” светло и комфортно.
        .type-facade__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-facade__img6.webp 1x, images/content/type-facade__img6@2x.webp 2x")
            img(src="images/content/type-facade__img6.jpg" srcset="images/content/type-facade__img6@2x.jpg" alt="картинка за окном")
          h2 Панорамное
          p Панорамное остекление - это еще один способ расширить жилое или рабочее пространство..
      .type-facade__btns
        button(type="button" class="type-facade__left type-facade__arrow swiper-button-prev slider__arrows")
        button(type="button" class="type-facade__right active type-facade__arrow swiper-button-next slider__arrows")
  section.sfer-use
    .sfer-use__container
      h1 Сферы применения
      p Фасадное остекление новейший способ придать зданию уникальную форму и безупречный внешний вид.
      .sfer-use__list
        .sfer-use__item
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use__img1.webp 1x, images/content/sfer-use__img1@2x.webp 2x")
              img(src="images/content/sfer-use__img1.jpg" srcset="images/content/sfer-use__img1@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Зимние сады и беседки
            p Современная остекленная беседка - прекрасное место отдыха. Это возможность наслаждаться природой в тепле, когда пожелаете.
            .sfer-use__link-wrap
              a(href="wintergardens.html" class="sfer-use__link") Смотреть подробнее
        .sfer-use__item
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use__img2.webp 1x, images/content/sfer-use__img2@2x.webp 2x")
              img(src="images/content/sfer-use__img2.jpg" srcset="images/content/sfer-use__img2@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Навесы и козырьки
            p Стеклянные козырьки и навесы - широко используются в современном дизайне, создавая привлекательный внешний вид любому сооружению.
            .sfer-use__link-wrap
              a(href="tent.html" class="sfer-use__link") Смотреть подробнее
        .sfer-use__item
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use__img3.webp 1x, images/content/sfer-use__img3@2x.webp 2x")
              img(src="images/content/sfer-use__img3.jpg" srcset="images/content/sfer-use__img3@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Панорамное  остекление
            p Панорамное остекление - хороший выбор визуально расширить пространство помещения, и сделать фасад особенно эффектным.
            .sfer-use__link-wrap
              a(href="panoramic.html" class="sfer-use__link") Смотреть подробнее
        .sfer-use__item
          .sfer-use__img-block
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/sfer-use__img4.webp 1x, images/content/sfer-use__img4@2x.webp 2x")
              img(src="images/content/sfer-use__img4.jpg" srcset="images/content/sfer-use__img4@2x.jpg" alt="картинка за окном")
          .sfer-use__item-col
            h2 Входные группы
            p Входные группы из алюминия не только облагораживают общий вид, но и служат тепловым шлюзом в зимнее время года.
            .sfer-use__link-wrap
              a(href="ingroup.html" class="sfer-use__link") Смотреть подробнее
