extends layout/main

block variables
	-var title = 'Алюминиевые окна от производителя - компания "TOKADA"'
	- var description = 'Компания ТОКАДА производит ПВХ и алюминиевые конструкции с 2006 года.За годы работы мы обрели огромный опыт, множество клиентов, запустили  производство.  Работаем с материалами ПРЕМИУМ качества!'

block content
	section
		.main-info
			.main-info__container
				a(href="#" class="main-info__location") Москва и Московская область
					+icon("marker")
				h1(data-da="main-info__mob,first,867") Алюминиевые окна от производителя
				p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
				a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
		.main-info__mob
block content2
block content3
	//section.profile
	//	.profile__container
	//		h1 Профили
	//		.profile__title
	//			p Мы работаем только с проверенными, заслужившими доверие потребителей брендами и материалами:
	//			a(href="#" data-da="profile__container,last,867") Все профили
	//		.profile__list
	//			picture
	//				source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/profile__img1.webp 1x, images/content/profile__img1@2x.webp 2x")
	//				img(src="images/content/profile__img1.png" srcset="images/content/profile__img1@2x.png" alt="логотип компании партнера")
	//			picture
	//				source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/profile__img2.webp 1x, images/content/profile__img2@2x.webp 2x")
	//				img(src="images/content/profile__img2.png" srcset="images/content/profile__img2@2x.png" alt="логотип компании партнера")
	//			picture
	//				source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/profile__img3.webp 1x, images/content/profile__img3@2x.webp 2x")
	//				img(src="images/content/profile__img3.png" srcset="images/content/profile__img3@2x.png" alt="логотип компании партнера")
	//			picture
	//				source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/profile__img4.webp 1x, images/content/profile__img4@2x.webp 2x")
	//				img(src="images/content/profile__img4.png" srcset="images/content/profile__img4@2x.png" alt="логотип компании партнера")
	//			picture
	//				source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/profile__img5.webp 1x, images/content/profile__img5@2x.webp 2x")
	//				img(src="images/content/profile__img5.png" srcset="images/content/profile__img5@2x.png" alt="логотип компании партнера")
	section.stages
		.stages__container.swiper-container.slider
			h1 Этапы работы
			p В каждой работе должна быть четкая структура, приводящая к необходимому результату. Приоткроем завесу тайны на сам процесс установки окон!
			.stages__list.swiper-wrapper
				.stages__item.swiper-slide
					.stages__item-title
						h3 01
						h4 Вызов замерщика
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/stage__img1.webp 1x, images/content/stage__img1@2x.webp 2x")
						img(src="images/content/stage__img1.png" srcset="images/content/stage__img1@2x.png" alt="картинка в обьекте")
					p Чаще всего металлопластиковые окна устанавливают потому
				.stages__item.swiper-slide
					.stages__item-title
						h3 02
						h4 Замер строений окон
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/stage__img2.webp 1x, images/content/stage__img2@2x.webp 2x")
						img(src="images/content/stage__img2.png" srcset="images/content/stage__img2@2x.png" alt="картинка в обьекте")
					p Мы составим полную смету по изготовлению и установке ваших будущих изделий.
				.stages__item.swiper-slide
					.stages__item-title
						h3 03
						h4 Изготовление окон по заказу
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/stage__img3.webp 1x, images/content/stage__img3@2x.webp 2x")
						img(src="images/content/stage__img3.png" srcset="images/content/stage__img3@2x.png" alt="картинка в обьекте")
					p Наши технические специалисты вносят в производственную программу ваши изделия для изготовления.
				.stages__item.swiper-slide
					.stages__item-title
						h3 04
						h4 Монтаж окон
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/stage__img4.webp 1x, images/content/stage__img4@2x.webp 2x")
						img(src="images/content/stage__img4.png" srcset="images/content/stage__img4@2x.png" alt="картинка в обьекте")
					p В назначенный день наши монтажники установят ваши окна с соблюдением всех технологических правил.
				.stages__item.swiper-slide
					.stages__item-title
						h3 05
						h4 Довольный клиент
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/stage__img5.webp 1x, images/content/stage__img5@2x.webp 2x")
						img(src="images/content/stage__img5.png" srcset="images/content/stage__img5@2x.png" alt="картинка в обьекте")
					p Благодарность довольных клиентов – главная награда для наших специалистов.
				.stages__item.swiper-slide
					.stages__item-title
						h3 06
						h4 Гарантия на установленные окна
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/stage__img6.webp 1x, images/content/stage__img6@2x.webp 2x")
						img(src="images/content/stage__img6.png" srcset="images/content/stage__img6@2x.png" alt="картинка в обьекте")
					p На все наши окна действует гарантия - 5 лет.
			.stages__btns
				//использовал шаблон стрелок с рекомендованых
				a(href="#" class="recomend__arrow recomend__left swiper-button-prev")
				a(href="#" class="recomend__arrow recomend__right active swiper-button-next")
block content4
	//section.sert
	//	.sert__container
	//		h1 Сетрификаты
	//		p У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
	//		.sert__list
	//			.sert__item
	//				a(href="#" class="sert__link-pdf")
	//					img(src="images/content/pdf.svg" alt="картинка пдф")
	//					| .PDF (126 kb.)
	//				h2 Cертификат соответствия качества
	//				p
	//					+icon("calendar")
	//					| 27.06.2020
	//				a(href="#" class="sert__link-save") Скачать
	//			.sert__item
	//				a(href="#" class="sert__link-pdf")
	//					img(src="images/content/pdf.svg" alt="картинка пдф")
	//					| .PDF (126 kb.)
	//				h2 Cертификат соответствия качества
	//				p
	//					+icon("calendar")
	//					| 27.06.2020
	//				a(href="#" class="sert__link-save") Скачать
	//			.sert__item
	//				a(href="#" class="sert__link-pdf")
	//					img(src="images/content/pdf.svg" alt="картинка пдф")
	//					| .PDF (126 kb.)
	//				h2 Cертификат соответствия качества
	//				p
	//					+icon("calendar")
	//					| 27.06.2020
	//				a(href="#" class="sert__link-save") Скачать
	//			.sert__item
	//				a(href="#" class="sert__link-pdf")
	//					img(src="images/content/pdf.svg" alt="картинка пдф")
	//					| .PDF (126 kb.)
	//				h2 Cертификат соответствия качества
	//				p
	//					+icon("calendar")
	//					| 27.06.2020
	//				a(href="#" class="sert__link-save") Скачать
	//		.sert__btns
	//			button(type="button" class="sert__left sert__arrow")
	//			button(type="button" class="sert__right active sert__arrow")
	section.form
		.form__container
			form(class="form__main" method="post")
				h1 Бесплатный вызов замерщика
				p Отправьте заявку прямо сейчас, и мы вам перезвоним.
				.form__wrap
					label(for="persone")
					input(type="text" name="name" id="persone" placeholder="Имя" title="Введите имя" minlength="2" maxlength="30" required)
					label(for="phone-num")
					input(type="tel" name="phone" id="phone-num" placeholder="Номер телефона" title="Введите телефон" minlength="3" maxlength="30" required)
				.form__form-footer
					p Нажимая на кнопку вы соглашаетесь на обработку
						a(href="#") персональных данных
					button(type="submit" class="form__sub-btn") Отправить
			.form__img-wrap
				picture
					source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/modal__img.webp 1x, images/content/modal__img@2x.webp 2x")
					img(src="images/content/modal__img.jpg" srcset="images/content/modal__img@2x.jpg" class="form__img-bg" alt="картинка формы")

