extends layout/laminate-layout

block variables
  -var title = 'Ламинация окон и дверей'
  - var description = 'Ламинация окон и дверей'

block content
    section
        .main-info.main-info__laminate-page.main-info__other-page
            .main-info__container
                a(href="#" class="main-info__location") Москва и Московская область
                    +icon("marker")
                h1(data-da="main-info__mob,first,867") ЛАМИНАЦИЯ ОКОН И ДВЕРЕЙ
                p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
                a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
        .main-info__mob
    section.offer.offer-ingroup
        .offer__container
            h1 Виды ламинации
            .offer__container-title
                p На данный момент существует несколько видов ламинирования:
                a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
            .offer__slider.swiper-container.slider
                .offer__list.swiper-wrapper
                    .offer__item.swiper-slide
                        h2 Ламинация окон
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-laminate__img1.webp 1x, images/content/offer-laminate__img1@2x.webp 2x")
                            img(src="images/content/offer-laminate__img1.jpg" srcset="images/content/offer-laminate__img1@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Подходят для книг, статуэток, предметов декора.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Ламинация дверей
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-laminate__img2.webp 1x, images/content/offer-laminate__img2@2x.webp 2x")
                            img(src="images/content/offer-laminate__img2.jpg" srcset="images/content/offer-laminate__img2@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Ламинация позволяет придать дверям нужный декоративный вид.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Ламинация откосов и подоконников
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-laminate__img3.webp 1x, images/content/offer-laminate__img3@2x.webp 2x")
                            img(src="images/content/offer-laminate__img3.jpg" srcset="images/content/offer-laminate__img3@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                .offer__btns
                    a(href="#" class="offer__arrow offer__left swiper-button-prev slider__arrows")
                    a(href="#" class="offer__arrow offer__right active swiper-button-next slider__arrows")
    //.types-open-wintergarden создает отступ от верхнего блока
    section.types-open.types-open-wintergarden
        .types-open__container
            h1 Площадь ламинации
            p В зависимости от пожеланий заказчика пластиковые окна можно изготовить с ламинацией профиля трех видов:
        .types-open__list
            .types-open__item
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__laminate-img1.webp 1x, images/content/types-open__laminate-img1@2x.webp 2x")
                        img(src="images/content/types-open__laminate-img1.png" srcset="images/content/types-open__laminate-img1@2x.png" alt="картинка окна")
                h2 Односторонняя ламинация
                p Односторонний способ используется для декорирования пластиковой конструкции с внутренней или внешней стороны
            .types-open__item
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__laminate-img2.webp 1x, images/content/types-open__laminate-img2@2x.webp 2x")
                        img(src="images/content/types-open__laminate-img2.png" srcset="images/content/types-open__laminate-img2@2x.png" alt="картинка окна")
                h2 Двусторонняя ламинация
                p Ламинация профиля с двух сторон используется для одновременного решения дизайнерских задач изнутри помещения и с улицы.
            .types-open__item
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__laminate-img3.webp 1x, images/content/types-open__laminate-img3@2x.webp 2x")
                        img(src="images/content/types-open__laminate-img3.png" srcset="images/content/types-open__laminate-img3@2x.png" alt="картинка окна")
                h2 Ламинация в массе
                p Чтобы избежать белых торцов при двустороннем способе ламинирования, используют цветной профиль в массе.
    section.special
        .special__container
            h1 Цвета
            p У нас можно заказать ламинацию различных цветов.
        .special__slider.swiper-container.slider-mini
            .special__list.special-laminate__list.swiper-wrapper
                .special__item.special-laminate__item.swiper-slide
                    .specila__img-block
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-laminate__img1.webp 1x, images/content/special-laminate__img1@2x.webp 2x")
                            img(src="images/content/special-laminate__img1.jpg" srcset="images/content/special-laminate__img1@2x.jpg" alt="картинка окна")
                    h2 Вишня
                .special__item.special-laminate__item.swiper-slide
                    .specila__img-block
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-laminate__img2.webp 1x, images/content/special-laminate__img2@2x.webp 2x")
                            img(src="images/content/special-laminate__img2.jpg" srcset="images/content/special-laminate__img2@2x.jpg" alt="картинка окна")
                    h2 Дуб
                .special__item.special-laminate__item.swiper-slide
                    .specila__img-block
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-laminate__img3.webp 1x, images/content/special-laminate__img3@2x.webp 2x")
                            img(src="images/content/special-laminate__img3.jpg" srcset="images/content/special-laminate__img3@2x.jpg" alt="картинка окна")
                    h2 Береза
                .special__item.special-laminate__item.swiper-slide
                    .specila__img-block
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-laminate__img4.webp 1x, images/content/special-laminate__img4@2x.webp 2x")
                            img(src="images/content/special-laminate__img4.jpg" srcset="images/content/special-laminate__img4@2x.jpg" alt="картинка окна")
                    h2 Темный дуб
                .special__item.special-laminate__item.swiper-slide
                    .specila__img-block
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-laminate__img5.webp 1x, images/content/special-laminate__img5@2x.webp 2x")
                            img(src="images/content/special-laminate__img5.jpg" srcset="images/content/special-laminate__img5@2x.jpg" alt="картинка окна")
                    h2 Светлый дуб
                .special__item.special-laminate__item.swiper-slide
                    .specila__img-block
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/special-laminate__img6.webp 1x, images/content/special-laminate__img6@2x.webp 2x")
                            img(src="images/content/special-laminate__img6.jpg" srcset="images/content/special-laminate__img6@2x.jpg" alt="картинка окна")
                    h2 Дуглас
            .offer__btns
                a(href="#" class="offer__arrow offer__left swiper-button-prev slider__arrows")
                a(href="#" class="offer__arrow offer__right active swiper-button-next slider__arrows")
    //корректирующие стили для этого блока просто для добавления блока заголовка
    section.plus__panoramic-advantages
        h1 Преимущества ламинации
        .plus__advantage-list
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("flower")
                h2 Эстетичность
                p Отличный способ придать окнам или дверям оригинальный и свежий внешний вид.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("many")
                h2 Экономия
                p Бюджетный вариант сделать простую дверь или окно презентабельнее.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("clock")
                h2 Долговечность
                p При использовании ламинационной пленки значительно увеличивается эксплуатационный срок окон и дверей.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("broom")
                h2 Простой уход
                p На мытье пленки не нужно тратить много времени и усилий, все загрязнения легко очищаются мыльным раствором.
