extends layout/loftpartitions-layout

block variables
  -var title = 'Лофт перегородки от производителя'
  - var description = 'Лофт перегородки от производителя'

block content
    section
        .main-info.main-info__loftpartitions-page.main-info__other-page
            .main-info__container
                a(href="#" class="main-info__location") Москва и Московская область
                    +icon("marker")
                h1(data-da="main-info__mob,first,867") ЛОФТ ПЕРЕГОРОДКИ от производителя
                //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
                a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Получить скидку 30% на остекление
        .main-info__mob
    section.offer.offer-loftpartitions
        .offer__container
            //h1 Виды лофт перегородок
            .offer__title.block__title
                h1 Виды лофт перегородок
                a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
            .offer__slider.swiper-container.sliderWhyus
                .offer__list.swiper-wrapper
                    .offer__item.swiper-slide
                        h2 Лофт перегородки для зонирования
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-loftpartitions__img1.webp 1x, images/content/offer-loftpartitions__img1@2x.webp 2x")
                            img(src="images/content/offer-loftpartitions__img1.jpg" srcset="images/content/offer-loftpartitions__img1@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Перегородки - стеллажи
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-loftpartitions__img2.webp 1x, images/content/offer-loftpartitions__img2@2x.webp 2x")
                            img(src="images/content/offer-loftpartitions__img2.jpg" srcset="images/content/offer-loftpartitions__img2@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Лофт перегородки срисунком
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-loftpartitions__img3.webp 1x, images/content/offer-loftpartitions__img3@2x.webp 2x")
                            img(src="images/content/offer-loftpartitions__img3.jpg" srcset="images/content/offer-loftpartitions__img3@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Алюминиевые лофт перегородки
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-loftpartitions__img4.webp 1x, images/content/offer-loftpartitions__img4@2x.webp 2x")
                            img(src="images/content/offer-loftpartitions__img4.jpg" srcset="images/content/offer-loftpartitions__img4@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Лофт перегородки из металла
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-loftpartitions__img5.webp 1x, images/content/offer-loftpartitions__img5@2x.webp 2x")
                            img(src="images/content/offer-loftpartitions__img5.jpg" srcset="images/content/offer-loftpartitions__img5@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Стеклянные лофт перегородки
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-loftpartitions__img6.webp 1x, images/content/offer-loftpartitions__img6@2x.webp 2x")
                            img(src="images/content/offer-loftpartitions__img6.jpg" srcset="images/content/offer-loftpartitions__img6@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                .offer__btns
                    a(href="#" class="offer__arrow offer__left swiper-button-prev slider__arrows")
                    a(href="#" class="offer__arrow offer__right active swiper-button-next slider__arrows")
    section.types-open
        .types-open__container
            h1 Способы открывания
            p Лофт перегородки не занимают много места и имеют удобные системы открывания.
        .types-open__list
            .types-open__item
                .types-open__item-img.types-open-loftpartitions__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open-loftpatitions__item-img1.webp 1x, images/content/types-open-loftpatitions__item-img1@2x.webp 2x")
                        img(src="images/content/types-open-loftpatitions__item-img1.png" srcset="images/content/types-open-loftpatitions__item-img1@2x.png" alt="картинка окна")
                h2 Стационарные перегородки
                p Перегородка крепится к стенам, потолку, полу при помощи специальных крепежных элементов.
                a(href="stationary.html") Подробнее
            .types-open__item
                .types-open__item-img.types-open-loftpartitions__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open-loftpatitions__item-img2.webp 1x, images/content/types-open-loftpatitions__item-img2@2x.webp 2x")
                        img(src="images/content/types-open-loftpatitions__item-img2.png" srcset="images/content/types-open-loftpatitions__item-img2@2x.png" alt="картинка окна")
                h2 Раздвижные перегородки
                p Выполняются из металлического профиля и заполняются стеклами с различными характеристиками.
                a(href="slidingpartitions.html") Подробнее
            .types-open__item
                .types-open__item-img.types-open-loftpartitions__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open-loftpatitions__item-img3.webp 1x, images/content/types-open-loftpatitions__item-img3@2x.webp 2x")
                        img(src="images/content/types-open-loftpatitions__item-img3.png" srcset="images/content/types-open-loftpatitions__item-img3@2x.png" alt="картинка окна")
                h2 Мобильные перегородки
                p Перегородки-гармошки не противоречат концепции loft и гармонично вписываются в подобные интерьеры.
                a(href="mobilepartitions.html") Подробнее
    section.recomend
        .recomend__container
            h1 Где применяются
            p Универсальные решения для помещений различного назначения: частных домов и квартир, офисов, ресторанов, выставок, концертных залов и пр.
        .recomend__slider.swiper-container
            .recomend__list.swiper-wrapper
                .recomend__item.recomend__item--first.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-loftpartitions__img1.webp 1x, images/content/recomend-loftpartitions__img1@2x.webp 2x")
                        img(src="images/content/recomend-loftpartitions__img1.jpg" srcset="images/content/recomend-loftpartitions__img1@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Офисы
                .recomend__item.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-loftpartitions__img2.webp 1x, images/content/recomend-loftpartitions__img2@2x.webp 2x")
                        img(src="images/content/recomend-loftpartitions__img2.jpg" srcset="images/content/recomend-loftpartitions__img2@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Рестораны
                .recomend__item.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-loftpartitions__img3.webp 1x, images/content/recomend-loftpartitions__img3@2x.webp 2x")
                        img(src="images/content/recomend-loftpartitions__img3.jpg" srcset="images/content/recomend-loftpartitions__img3@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Бизнес центры
                .recomend__item.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-loftpartitions__img4.webp 1x, images/content/recomend-loftpartitions__img4@2x.webp 2x")
                        img(src="images/content/recomend-loftpartitions__img4.jpg" srcset="images/content/recomend-loftpartitions__img4@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Частные дома
            .recomend__btns
                a(href="#" class="recomend__arrow recomend__left swiper-button-prev")
                a(href="#" class="recomend__arrow recomend__right swiper-button-next active")
