extends layout/panoramic-layout

block variables
  -var title = 'Панорамное остекление'
  - var description = 'Панорамное остекление'

block content
    section
        .main-info.main-info__panoramic-page.main-info__other-page
            .main-info__container
                a(href="#" class="main-info__location") Москва и Московская область
                    +icon("marker")
                h1(data-da="main-info__mob,first,867") Панорамное остекление
                p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
                a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
        .main-info__mob
    section.types
        .types__container
            h1 Виды остекления
            .types__title
                p Если вы хотите иметь качественные, экологичные и максимально долговечные окна, то окна из алюминия - это то, что вам нужно!
                a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
            .types__main
                .types__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-grad.webp 1x, images/content/window-grad@2x.webp 2x")
                        img(src="images/content/window-grad.png" srcset="images/content/window-grad@2x.png" class="types__img-window" alt="картинка окна")
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem.webp 1x, images/content/window-elem@2x.webp 2x")
                        img(src="images/content/window-elem.png" srcset="images/content/window-elem@2x.png" class="types__img-elem" alt="картинка за окном")
                .types__text-col
                    p Теплый профиль: Alutech, Krauss, Vidnal
                    h2 Теплое остекление
                    p Тёплые окна - решение для помещений, где необходима тепло- и звукоизоляция.
                    .types__advantages-list
                        .types__advantages-item
                            .types__svg-block
                                +icon("cup")
                            p Максимальное тепло
                        .types__advantages-item
                            .types__svg-block
                                +icon("lock")
                            p Лучшая шумоизоляция
                        .types__advantages-item
                            .types__svg-block
                                +icon("flower")
                            p Элегантный внешний вид
            .types__btn-block
                a(href="window.html") Смотреть подробнее
    section.types.types--second
        .types__container
            .types__main.types__main--second
                .types__text-col
                    p Холодный профиль: Alutech, Provedal
                    h2 Холодное остекление
                    p Холодные окна - максимально доступный по цене вариант остекления из алюминия.
                    .types__advantages-list
                        .types__advantages-item.types__advantages-item--second
                            .types__svg-block.types__svg-block--second
                                +icon("pen")
                            p Легкая конструкция
                        .types__advantages-item.types__advantages-item--second
                            .types__svg-block.types__svg-block--second
                                +icon("san")
                            p Максимум света
                        .types__advantages-item.types__advantages-item--second
                            .types__svg-block.types__svg-block--second
                                +icon("many")
                            p Недорогой вариант
                .types__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-grad2.webp 1x, images/content/window-grad2@2x.webp 2x")
                        img(src="images/content/window-grad2.png" srcset="images/content/window-grad2@2x.png" class="types__img-window" alt="картинка окна")
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem.webp 1x, images/content/window-elem@2x.webp 2x")
                        img(src="images/content/window-elem.png" srcset="images/content/window-elem@2x.png" class="types__img-elem-second" alt="картинка за окном")
            .types__btn-block
                a(href="window-pvh.html") Смотреть подробнее
    section.recomend.recomend-panoramic
        .recomend__container
            h1 Где применяются
            p Панорамные окна можно применять в самых разных ситуациях.
        .recomend__slider.swiper-container
            .recomend__list.swiper-wrapper
                .recomend__item.recomend__item--first.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-panormic__img1.webp 1x, images/content/recomend-panormic__img1@2x.webp 2x")
                        img(src="images/content/recomend-panormic__img1.jpg.jpg" srcset="images/content/recomend-panormic__img1.jpg@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Балкон
                .recomend__item.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-panormic__img2.webp 1x, images/content/recomend-panormic__img2@2x.webp 2x")
                        img(src="images/content/recomend-panormic__img2.jpg.jpg" srcset="images/content/recomend-panormic__img2.jpg@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Лоджия
                .recomend__item.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-panormic__img3.webp 1x, images/content/recomend-panormic__img3@2x.webp 2x")
                        img(src="images/content/recomend-panormic__img3.jpg" srcset="images/content/recomend-panormic__img3@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Коммерческие помещения
                .recomend__item.swiper-slide
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend-panormic__img3.webp 1x, images/content/recomend-panormic__img3@2x.webp 2x")
                        img(src="images/content/recomend-panormic__img3.jpg" srcset="images/content/recomend-panormic__img3@2x.jpg" class="types__img-window" alt="картинка окна")
                    .recomend__item-title
                        h2 Остекление витрин
            .recomend__btns
                a(href="#" class="recomend__arrow recomend__left swiper-button-prev")
                a(href="#" class="recomend__arrow recomend__right swiper-button-next active")
    section.plus__panoramic-advantages
        h1 Преимущества панорамного остекления
        .plus__advantage-list
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("lamp")
                h2 Много света
                p Увеличивает количество дневного света в помещении и обеспечивает прекрасное естественное освещение.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("shield")
                h2 Надежность конструкции
                p Алюминиевые конструкции разрабатываются с учетом ветровых нагрузок и массы стеклопакетов.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("temp")
                h2 Комфортная температура
                p Панорамное остекление обладает отличной теплоизоляцией.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("forest")
                h2 Широкий обзор
                p Потрясающий вид из окна позволяет в полной мере насладиться восхитительными пейзажами.
