extends layout/shopping-layout

block variables
  -var title = 'Торговые павильоны'
  - var description = 'Торговые павильоны'

block content
    section
        .main-info.main-info__shopping-page.main-info__other-page
            .main-info__container
                a(href="#" class="main-info__location") Москва и Московская область
                    +icon("marker")
                h1(data-da="main-info__mob,first,867") ТОРГОВЫЕ ПАВИЛЬОНЫ
                //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
                a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Получить скидку 30% на остекление
        .main-info__mob
    section.types-open
        .types-open__container
            //h1 Виды торговых павильонов
            .types-open__title.block__title
                h1 Виды торговых павильонов
                a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
        .types-open__list
            .types-open__item.types-open__item-slidingpartitions.types-open__item-shopping
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__shopping-img1.webp 1x, images/content/types-open__shopping-img1@2x.webp 2x")
                        img(src="images/content/types-open__shopping-img1.png" srcset="images/content/types-open__shopping-img1@2x.png" alt="картинка окна")
                h2 Пристенный
                p Пристенный павильон — это отличный вариант для организации стационарной точки продаж.
                a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
            .types-open__item.types-open__item-slidingpartitions.types-open__item-shopping
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__shopping-img2.webp 1x, images/content/types-open__shopping-img2@2x.webp 2x")
                        img(src="images/content/types-open__shopping-img2.png" srcset="images/content/types-open__shopping-img2@2x.png" alt="картинка окна")
                h2 Островной
                p Островной павильон - это замкнутая система, которую устанавливают посередине торгового зала.
                a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
    section.offer
        .offer__container.offer__container-shopping
            h1 Этапы работы
            .offer__container-title
                p Работа над объектом происходит в несколько этапов:
                //a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
            .offer__slider.swiper-container.slider
                .offer__list.swiper-wrapper
                    .offer__item.offer-shopping__item.swiper-slide
                        h2 1. Проектирование

                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-shopping__img1.webp 1x, images/content/offer-shopping__img1@2x.webp 2x")
                            img(src="images/content/offer-shopping__img1.jpg" srcset="images/content/offer-shopping__img1@2x.jpg" alt="картинка окна")
                    .offer__item.offer-shopping__item.swiper-slide
                        h2 2. Каркас

                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-shopping__img2.webp 1x, images/content/offer-shopping__img2@2x.webp 2x")
                            img(src="images/content/offer-shopping__img2.jpg" srcset="images/content/offer-shopping__img2@2x.jpg" alt="картинка окна")
                    .offer__item.offer-shopping__item.swiper-slide
                        h2 3. Монтаж

                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-shopping__img3.webp 1x, images/content/offer-shopping__img3@2x.webp 2x")
                            img(src="images/content/offer-shopping__img3.jpg" srcset="images/content/offer-shopping__img3@2x.jpg" alt="картинка окна")
                    .offer__item.offer-shopping__item.swiper-slide
                        h2 4. Остекление

                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-shopping__img4.webp 1x, images/content/offer-shopping__img4@2x.webp 2x")
                            img(src="images/content/offer-shopping__img4.jpg" srcset="images/content/offer-shopping__img4@2x.jpg" alt="картинка окна")
                    .offer__item.offer-shopping__item.swiper-slide
                        h2 5. Внутренняя отделка

                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-shopping__img5.webp 1x, images/content/offer-shopping__img5@2x.webp 2x")
                            img(src="images/content/offer-shopping__img5.jpg" srcset="images/content/offer-shopping__img5@2x.jpg" alt="картинка окна")
                    .offer__item.offer-shopping__item.swiper-slide
                        h2 6. Внешняя отделка и коммуникации

                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-shopping__img6.webp 1x, images/content/offer-shopping__img6@2x.webp 2x")
                            img(src="images/content/offer-shopping__img6.jpg" srcset="images/content/offer-shopping__img6@2x.jpg" alt="картинка окна")
                .offer__btns
                    a(href="#" class="offer__arrow offer__left swiper-button-prev slider__arrows")
                    a(href="#" class="offer__arrow offer__right active swiper-button-next slider__arrows")
    //корректирующие стили для этого блока просто для добавления блока заголовка
    section.plus__panoramic-advantages
        h1 Преимущества панорамного остекления
        .plus__advantage-list
            .plus__advantage-item
                .plus__advantage-item-img-block
                    include ../static/images/content/wall-torg.svg
                h2 Не требуется фундамент
                p Для установки конструкции не требуется фундамент.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    include ../static/images/content/many.svg
                h2 Недорогой вариант
                p Более выгодная цена по сравнению с арендой или выкупом помещения под магазин.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("clock")
                h2 Быстрая точка продаж
                p Возможность установить временную точку продаж в любом месте.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("broom")
                h2 Уникальный дизайн
                p Уникальный и заметный дизайн, обеспечит популярность точки у клиентов.
