extends layout/stationary-layout

block variables
  -var title = 'Стационарные перегородки'
  - var description = 'Стационарные перегородки'

block content
    section
        .main-info.main-info__stationary-page.main-info__other-page
            .main-info__container
                a(href="#" class="main-info__location") Москва и Московская область
                    +icon("marker")
                h1(data-da="main-info__mob,first,867") СТАЦИОНАРНЫЕ ПЕРЕГОРОДКИ
                //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
                a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Подробнее
        .main-info__mob
    section.offer.offer-ingroup
        .offer__container
            //h1 Виды стационарных перегородок
            .offer__title.block__title
                h1 Виды стационарных перегородок
                a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
            .offer__slider.swiper-container.slider
                .offer__list.swiper-wrapper
                    .offer__item.swiper-slide
                        h2 Каркасные
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-stationary__img1.webp 1x, images/content/offer-stationary__img1@2x.webp 2x")
                            img(src="images/content/offer-stationary__img1.jpg" srcset="images/content/offer-stationary__img1@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Цельностеклянные
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-stationary__img2.webp 1x, images/content/offer-stationary__img2@2x.webp 2x")
                            img(src="images/content/offer-stationary__img2.jpg" srcset="images/content/offer-stationary__img2@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                    .offer__item.swiper-slide
                        h2 Лофт
                        picture
                            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/offer-stationary__img3.webp 1x, images/content/offer-stationary__img3@2x.webp 2x")
                            img(src="images/content/offer-stationary__img3.jpg" srcset="images/content/offer-stationary__img3@2x.jpg" alt="картинка окна")
                        .offer__popup-block
                            p Сотрудничая с дизайнерами , мы готовы к нестандартным задачам и смелым идеям.
                            a(href="#" class="js-open-modal" data-modal="10") Связаться со специалистом
                .offer__btns
                    a(href="#" class="offer__arrow offer__left swiper-button-prev slider__arrows")
                    a(href="#" class="offer__arrow offer__right active swiper-button-next slider__arrows")
    //.types-open-wintergarden создает отступ от верхнего блока
    section.types-open.types-open-wintergarden
        .types-open__container
            h1 Виды заполнения
            p Наша компания осуществляет заполнение стационарных перегородок при помощи новейших технологий и современного оборудования.
        .types-open__list
            .types-open__item
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__stationary-img1.webp 1x, images/content/types-open__stationary-img1@2x.webp 2x")
                        img(src="images/content/types-open__stationary-img1.png" srcset="images/content/types-open__stationary-img1@2x.png" alt="картинка окна")
                h2 Глухое заполнение
                p Оптимальный способ разграничения пространства за максимально короткое время и с минимумом затрат.
            .types-open__item
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__stationary-img2.webp 1x, images/content/types-open__stationary-img2@2x.webp 2x")
                        img(src="images/content/types-open__stationary-img2.png" srcset="images/content/types-open__stationary-img2@2x.png" alt="картинка окна")
                h2 Комбинированное заполнение
                p Стильное, современное и практичное решение для обустройства как просторных помещений, так и малогабаритных комнат.
            .types-open__item
                .types-open__item-img
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__stationary-img3.webp 1x, images/content/types-open__stationary-img3@2x.webp 2x")
                        img(src="images/content/types-open__stationary-img3.png" srcset="images/content/types-open__stationary-img3@2x.png" alt="картинка окна")
                h2 Стеклянное заполнение
                p Стеклянные двери обладают высокой прочностью, надежностью и эстетичным внешним видом.
    section.plus__panoramic-advantages
        h1 Преимущества стационарных перегородок
        .plus__advantage-list
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("forest")
                h2 Расширение пространства
                p Позволяют рационально использовать пространство, визуально расширить помещение.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("voice")
                h2 Звукоизоляция
                p Прекрасные показатели звукоизоляции, которые могут достигать 40 децибел.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("san")
                h2 Максимум света
                p Универсальный элемент для разделения пространства, с максимальным сохранением света в помещении.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    include ../static/images/content/shield.svg
                h2 Создание имиджа
                p Перегородки имеют стильный внешний вид, являются прекрасным дополнением к любому интерьеру.
