extends layout/Swingdoors-layout

block variables
  -var title = 'Распашные двери от производителя'
  - var description = 'Распашные двери от производителя'

block content
  section
    .main-info.main-info__swingdoors-page.main-info__other-page
      .main-info__container
        a(href="#" class="main-info__location") Москва и Московская область
          +icon("marker")
        h1(data-da="main-info__mob,first,867") Распашные ДВЕРИ от производителя
        p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
        a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
    .main-info__mob
  section.types-profile
    .types-profile__container
      h1 Виды распашных дверей
      .types-profile__title
        p Наша компания предоставляет широкий выбор алюминиевых и пластиковых дверей.
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
    .types-profile__list
      .types-profile__item
        h2 Алюминиевые двери
        p Алюминиевые двери обладают непревзойденными эксплуатационными характеристиками, а именно: надежностью и долговечностью.
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/doors__item-img1.webp 1x, images/content/doors__item-img1@2x.webp 2x")
          img(src="images/content/doors__item-img1.jpg" srcset="images/content/doors__item-img1@2x.jpg" alt="картинка окна")
        .types-profile__advantages-list
          .types-profile__advantages-item
            .types-profile__svg
              +icon("clock")
            p Долговечность
          .types-profile__advantages-item
            .types-profile__svg
              +icon("voice")
            p Высокая шумоизоляция
        .types-profile__btn
          a(href="aluminumdoors.html" class="types-profile__link disabled-on-mob") Смотреть подробнее
          a(href="aluminumdoors.html" class="types-profile__link disabled-on-desktop") Подробнее
      .types-profile__item
        h2 Двери ПВХ
        p Главные преимуществом пластмассовых дверей остается их практичность. Они не гниют, не ржавеют и легко моются.
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/doors__item-img2.webp 1x, images/content/doors__item-img2@2x.webp 2x")
          img(src="images/content/doors__item-img2.jpg" srcset="images/content/doors__item-img2@2x.jpg" alt="картинка окна")
        .types-profile__advantages-list
          .types-profile__advantages-item.types-profile__advantages-item--second
            .types-profile__svg.types-profile__svg--second
              +icon("san")
            p Сохранение тепла
          .types-profile__advantages-item.types-profile__advantages-item--second
            .types-profile__svg.types-profile__svg--second
              +icon("flower")
            p Элегантный внешний вид
        .types-profile__btn
          a(href="doors.html" class="types-profile__link disabled-on-mob") Смотреть подробнее
          a(href="doors.html" class="types-profile__link disabled-on-desktop") Подробнее
  section.types-open
    .types-open__container
      h1 Способы остекления
      p Мы осуществляем остекление дверей при помощи новейших технологий, современного оборудования и высококачественных материалов.
    .types-open__list
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__item-img1.webp 1x, images/content/types-open__item-img1@2x.webp 2x")
            img(src="images/content/types-open__item-img1.png" srcset="images/content/types-open__item-img1@2x.png" alt="картинка окна")
        h2 Глухое заполнение
        p Оптимальный способ разграничения пространства за максимально короткое время и с минимумом затрат.
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__item-img1.webp 1x, images/content/types-open__item-img1@2x.webp 2x")
            img(src="images/content/types-open__item-img1.png" srcset="images/content/types-open__item-img1@2x.png" alt="картинка окна")
        h2 Комбинированное заполнение
        p Стильное, современное и практичное решение для обустройства как просторных помещений, так и малогабаритных комнат.
      .types-open__item
        .types-open__item-img
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/types-open__item-img1.webp 1x, images/content/types-open__item-img1@2x.webp 2x")
            img(src="images/content/types-open__item-img1.png" srcset="images/content/types-open__item-img1@2x.png" alt="картинка окна")
        h2 Стеклянное заполнение
        p Стеклянные двери обладают высокой прочностью, надежностью и эстетичным внешним видом.
  section.plus
    .plus__container
      h1 В каких случаях лучше устанавливать распашные двери
      p Стандартная модель, которая комплектуется традиционным набором фурнитуры (петли, ручка и опционально: защелка или замок).
    .plus__wrapper.plus__wrapper-swingdoors
      .plus__list.plus__list-swingdoors
        .plus__item
          +icon("pint")
          p Удобство в эксплуатации
        .plus__item
          +icon("pint")
          p Расширение нефункциональной жилой площади
        .plus__item
          +icon("pint")
          p Обеспечением достаточной прочности и жесткости конструкции
        .plus__item
          +icon("pint")
          p Снижение нагрузки в месте крепления полотна
      .plus__img-block.plus__img-block-swingdoors
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/plus__swingdoors.webp 1x, images/content/plus__swingdoors@2x.webp 2x")
          img(src="images/content/plus__swingdoors.jpg" srcset="images/content/plus__swingdoors@2x.jpg" class="types__img-window" alt="картинка окна")
