extends layout/vacancies-layout

block variables
  -var title = 'Вакансии'
  - var description = 'Вакансии компании'

block content
    section.vacancies
        .vacancies__container.slider.swiper-container
            h1 ВАКАНСИИ
            .vacancies__list.swiper-wrapper
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
                .vacancies__item.swiper-slide
                    span(class="vacancies__stat") Новая
                    h2 Специалист пункта выдачи заказов
                    .vacancies__place-wrap
                        +icon("mark")
                        span(class="vacancies__place") Москва
                    p Перечисление обязанностей в несколько строк. Дополнительный текст в несколько строк.
                    a(href="#" class="js-open-modal" data-modal="12") Откликнуться
            a(href="#" class="vacancies__all") Все вакансии
            .offer__btns
                a(href="#" class="offer__arrow offer__left swiper-button-prev slider__arrows")
                a(href="#" class="offer__arrow offer__right active swiper-button-next slider__arrows")

