extends layout/windowsill-layout

block variables
  -var title = 'Подоконники от производителя'
  - var description = 'Подоконники от производителя'

block content
    section
        .main-info.main-info__windowsill-page.main-info__other-page
            .main-info__container
                a(href="#" class="main-info__location") Москва и Московская область
                    +icon("marker")
                h1(data-da="main-info__mob,first,867") подоконники от производителя
                //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
                a(href="#" class="main-info__link-more js-open-modal" data-da="main-info__mob,first,867" data-modal="10") Подробнее
        .main-info__mob
    section.special
        .special__container
            //h1 Виды подоконников для пластиковых окон
            .special__title.block__title
                h1 Виды подоконников для пластиковых окон
                //p Мы предлагаем подоконники только проверенных и сертифицированных производителей.
                a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
        .special__list
            .special__item.special-windowsill__item
                .specila__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-windowsill-img1.webp 1x, images/content/type-windowsill-img1@2x.webp 2x")
                        img(src="images/content/type-windowsill-img1.jpg" srcset="images/content/type-windowsill-img1@2x.jpg" alt="картинка окна")
                h2 Vitrage
                p Поверхность таких подоконников покрывается специальной декоративно-защитной пленкой ПВХ.
            .special__item.special-windowsill__item
                .specila__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-windowsill-img2.webp 1x, images/content/type-windowsill-img2@2x.webp 2x")
                        img(src="images/content/type-windowsill-img2.jpg" srcset="images/content/type-windowsill-img2@2x.jpg" alt="картинка окна")
                h2 Crystalit
                p Подоконники премиум-класса. Обладают современным дизайном и комфортабельностью, экологически чистые.
            .special__item.special-windowsill__item
                .specila__img-block
                    picture
                        source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/type-windowsill-img3.webp 1x, images/content/type-windowsill-img3@2x.webp 2x")
                        img(src="images/content/type-windowsill-img3.jpg" srcset="images/content/type-windowsill-img3@2x.jpg" alt="картинка окна")
                h2 Moller
                p Отличительной чертой таких подоконников является особая жесткость пластмассы, термостойкость и удароустойчивость.
    //корректирующие стили для этого блока просто для добавления блока заголовка
    section.plus__panoramic-advantages
        h1 Преимущества панорамного остекления
        .plus__advantage-list
            .plus__advantage-item
                .plus__advantage-item-img-block
                    include ../static/images/content/shield.svg
                h2 Высокая прочность
                p Очень прочные, не меняют свою геометрию со временем.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("forest")
                h2 Экологичность
                p Не выделяет вредных веществ, опасных для здоровья человека.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("drop")
                h2 Влагостойкость
                p Влагостойкие, не восприимчивы к различным химическим составам.
            .plus__advantage-item
                .plus__advantage-item-img-block
                    +icon("broom")
                h2 Простой уход
                p За ними легко ухаживать с помощью привычных моющих составов.
