extends layout/window-pvh-layout

block variables
  -var title = 'Окна пвх от производителя'
  - var description = 'Окна пвх от производителя'

block content
  section
    .main-info.main-info__window-pvh.main-info__other-page
      .main-info__container
        a(href="#" class="main-info__location") Москва и Московская область
          +icon("marker")
        h1(data-da="main-info__mob,first,867") ОКНА ПВХ от производителя
        //p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
        a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
    .main-info__mob
  section.recomend.recomend__pvh
    .recomend__container
      //h1 Где применяются
      .recomend__title.block__title
        h1 Где применяются
        a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
    .recomend__slider.swiper-container
      .recomend__list.swiper-wrapper
        .recomend__item.recomend__item--first.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/pvh__img1.webp 1x, images/content/pvh__img1@2x.webp 2x")
            img(src="images/content/pvh__img1.jpg" srcset="images/content/pvh__img1@2x.jpg" alt="картинка окна")
          .recomend__item-title
            h2 Для дома
        .recomend__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/pvh__img2.webp 1x, images/content/pvh__img2@2x.webp 2x")
            img(src="images/content/pvh__img2.jpg" srcset="images/content/pvh__img2@2x.jpg" alt="картинка окна")
          .recomend__item-title
            h2 Остекление коммерческих объектов
        .recomend__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/pvh__img3.webp 1x, images/content/pvh__img3@2x.webp 2x")
            img(src="images/content/pvh__img3.jpg" srcset="images/content/pvh__img3@2x.jpg" alt="картинка окна")
          .recomend__item-title
            h2 В нежилые помещения
        .recomend__item.swiper-slide
          picture
            source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/pvh__img3.webp 1x, images/content/pvh__img3@2x.webp 2x")
            img(src="images/content/pvh__img3.jpg" srcset="images/content/pvh__img3@2x.jpg" alt="картинка окна")
          .recomend__item-title
            h2 В нежилые помещения
      .recomend__btns
        a(href="#" class="recomend__arrow recomend__left swiper-button-prev")
        a(href="#" class="recomend__arrow recomend__right active swiper-button-next")
  section.plus
    .plus__container
      h1 Преимущества пластикового остекления
      p Пластиковые конструкции прослужат вам не один десяток лет, радуя эстетичным внешним видом, теплом и своей надежностью.
    .plus__wrapper
      .plus__list
        .plus__item
          +icon("pint")
          p Долговечность
        .plus__item
          +icon("pint")
          p Теплоизоляция
        .plus__item
          +icon("pint")
          p Шумоизоляция
        .plus__item
          +icon("pint")
          p Звукоизоляция
        .plus__item
          +icon("pint")
          p Пожаробезопасность
        .plus__item
          +icon("pint")
          p Высокая герметичность при правильном монтаже
        .plus__item
          +icon("pint")
          p Устойчивость к гниению, разрушению
        .plus__item
          +icon("pint")
          p Элегантный внешний вид
      .plus__img-block
        picture
          source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/plus__img.webp 1x, images/content/plus__img@2x.webp 2x")
          img(src="images/content/plus__img.jpg" srcset="images/content/plus__img@2x.jpg" class="types__img-window" alt="картинка окна")
    .plus__advantage-list
      .plus__advantage-item
        .plus__advantage-item-img-block
          +icon("pen-line")
        h2 Бесплатный замер
        p Позвоните в компанию «TOKADA» и замерщик приедет к вам совершенно бесплатно!
      .plus__advantage-item
        .plus__advantage-item-img-block
          +icon("bas")
        h2 Быстрая доставка
        p Ответственность за сохранность оконных конструкций во время доставки полностью лежит на специалистах нашей компании.
      .plus__advantage-item
        .plus__advantage-item-img-block
          +icon("tool")
        h2 Качественный монтаж
        p Качественный монтаж – залог того, что конструкции прослужат долго и достойно выполнят возложенную на них миссию.
      .plus__advantage-item
        .plus__advantage-item-img-block
          include ../static/images/content/shield.svg
        h2 Гарантия до 10 лет
        p Мы даем гарантию на наши стеклопакеты.
  section.action
    .action__container.action__container-window
      h1 Не знаете какой профиль выбрать?
      .action__wrapper
        .action__img.action__img-window
          a(href="calc.html" class="action__title action__title--first" data-da="action__form-window,first,867")
            h3 Воспользуйтесь калькулятором для расчета стоимости!
            a(href="calc.html" class="calc__link")
              p Калькулятор расчета
          a(href="calc.html")
            picture
              source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/action-other__mobail-window.webp 1x, images/content/action-other__mobail-window@2x.webp 2x")
              img(src="images/content/action-other__mobail-window.png" srcset="images/content/action-other__mobail-window@2x.png" alt="картинка телефона в акции")
        form(class="action__form action__form-window" id="windowpvhform" method="post")
          .action__title
            h3 Или:
            p Заполните форму связи и наш специалист свяжется с вами в течении 10 минут!
          label(for="name")
          input(type="text" id="question-name" name="name" placeholder="Имя" title="Введите имя" minlength="3" maxlength="30" required)
          label(for="tel")
          input(type="tel" id="question-phone" name="phone" placeholder="Номер телефона" title="Введите телефон" minlength="3" maxlength="30" required)
          .action__form-footer.action__form-footer-window
            p Нажимая на кнопку вы соглашаетесь на обработку
              a(href="#") персональных данных
            button(type="submit" class="action__sub-btn") Отправить
