extends layout/window-layout

block variables
	-var title = 'Алюминиевые окна от производителя'
	- var description = 'Алюминиевые окна от производителя'

block content
	section
		.main-info.main-info__window-page.main-info__other-page
			.main-info__container
				a(href="#" class="main-info__location") Москва и Московская область
					+icon("marker")
				h1(data-da="main-info__mob,first,867") Алюминиевые окна от производителя
				//p(data-da="main-info__mob,first,867") У нас вы легко подберете подходящую по конструкции, размеру, типу открывания, оформлению и комплектации модель.
				a(href="#" class="main-info__link-more" data-da="main-info__mob,first,867") Подробнее
		.main-info__mob
	section.types
		.types__container
			//h1 Виды алюминиевых окон
			.types__title
				h1 Виды алюминиевых окон
				a(href="#" data-modal="10" class="js-open-modal") Получить скидку 30% на остекление
			.types__main
				.types__img-block
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-grad.webp 1x, images/content/window-grad@2x.webp 2x")
						img(src="images/content/window-grad.png" srcset="images/content/window-grad@2x.png" class="types__img-window" alt="картинка окна")
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem.webp 1x, images/content/window-elem@2x.webp 2x")
						img(src="images/content/window-elem.png" srcset="images/content/window-elem@2x.png" class="types__img-elem" alt="картинка за окном")
				.types__text-col

					h2 Теплые окна
					p Тёплые окна - решение для помещений, где необходима тепло- и звукоизоляция.
					.types__advantages-list
						.types__advantages-item
							.types__svg-block
								+icon("cup")
							p Максимальное тепло
						.types__advantages-item
							.types__svg-block
								+icon("lock")
							p Лучшая шумоизоляция
						.types__advantages-item
							.types__svg-block
								+icon("flower")
							p Элегантный внешний вид
			.types__btn-block
				a(href="window.html") Смотреть подробнее
	section.types.types--second
		.types__container
			.types__main.types__main--second
				.types__text-col

					h2 Холодные окна
					p Холодные окна - максимально доступный по цене вариант остекления из алюминия.
					.types__advantages-list
						.types__advantages-item.types__advantages-item--second
							.types__svg-block.types__svg-block--second
								+icon("pen")
							p Легкая конструкция
						.types__advantages-item.types__advantages-item--second
							.types__svg-block.types__svg-block--second
								+icon("san")
							p Максимум света
						.types__advantages-item.types__advantages-item--second
							.types__svg-block.types__svg-block--second
								include ../static/images/content/many.svg
							p Недорогой вариант
				.types__img-block
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-grad2.webp 1x, images/content/window-grad2@2x.webp 2x")
						img(src="images/content/window-grad2.png" srcset="images/content/window-grad2@2x.png" class="types__img-window" alt="картинка окна")
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/window-elem.webp 1x, images/content/window-elem@2x.webp 2x")
						img(src="images/content/window-elem.png" srcset="images/content/window-elem@2x.png" class="types__img-elem-second" alt="картинка за окном")
			.types__btn-block
				a(href="window-pvh.html") Смотреть подробнее
	section.recomend
		.recomend__container
			h1 Где применяются
			p Заказав остекление алюминиевыми окнами, вы сможете преобразить ваш дом, сделать помещение более светлым и просторным.
		.recomend__slider.swiper-container
			.recomend__list.swiper-wrapper
				.recomend__item.recomend__item--first.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img1.webp 1x, images/content/recomend__img1@2x.webp 2x")
						img(src="images/content/recomend__img1.jpg" srcset="images/content/recomend__img1@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление коттеджей
				.recomend__item.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img2.webp 1x, images/content/recomend__img2@2x.webp 2x")
						img(src="images/content/recomend__img2.jpg" srcset="images/content/recomend__img2@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление коммерческих объектов
				.recomend__item.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img3.webp 1x, images/content/recomend__img3@2x.webp 2x")
						img(src="images/content/recomend__img3.jpg" srcset="images/content/recomend__img3@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление витрин
				.recomend__item.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img3.webp 1x, images/content/recomend__img3@2x.webp 2x")
						img(src="images/content/recomend__img3.jpg" srcset="images/content/recomend__img3@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление витрин
				.recomend__item.recomend__item--first.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img1.webp 1x, images/content/recomend__img1@2x.webp 2x")
						img(src="images/content/recomend__img1.jpg" srcset="images/content/recomend__img1@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление коттеджей
				.recomend__item.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img2.webp 1x, images/content/recomend__img2@2x.webp 2x")
						img(src="images/content/recomend__img2.jpg" srcset="images/content/recomend__img2@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление коммерческих объектов
				.recomend__item.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img3.webp 1x, images/content/recomend__img3@2x.webp 2x")
						img(src="images/content/recomend__img3.jpg" srcset="images/content/recomend__img3@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление витрин
				.recomend__item.swiper-slide
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/recomend__img3.webp 1x, images/content/recomend__img3@2x.webp 2x")
						img(src="images/content/recomend__img3.jpg" srcset="images/content/recomend__img3@2x.jpg" class="types__img-window" alt="картинка окна")
					.recomend__item-title
						h2 Остекление витрин

			.recomend__btns
				a(href="#" class="recomend__arrow recomend__left swiper-button-prev")
				a(href="#" class="recomend__arrow recomend__right swiper-button-next active")
	section.plus
		.plus__container
			h1 Преимущества остекления алюминием
			p Алюминиевые конструкции прослужат вам не один десяток лет, радуя эстетичным внешним видом, теплом и своей надежностью.
		.plus__wrapper
			.plus__list
				.plus__item
					+icon("pint")
					p Теплоизоляция
				.plus__item
					+icon("pint")
					p Экономичность — холодный алюминий дешевле пластика
				.plus__item
					+icon("pint")
					p Разнообразные цвета и декор для оформления.
				.plus__item
					+icon("pint")
					p Элегантный внешний вид
				.plus__item
					+icon("pint")
					p Шумоизоляция
				.plus__item
					+icon("pint")
					p Различные способы открывания
				.plus__item
					+icon("pint")
					p Хорошая защита от взлома
				.plus__item
					+icon("pint")
					p Легкость и прочность
			.plus__img-block
				picture
					source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/plus__img.webp 1x, images/content/plus__img@2x.webp 2x")
					img(src="images/content/plus__img.jpg" srcset="images/content/plus__img@2x.jpg" class="types__img-window" alt="картинка окна")
	section.action
		.action__container.action__container-window
			h1 Не знаете какой профиль выбрать?
			.action__wrapper
				.action__img.action__img-window
					a(href="calc.html" class="action__title action__title--first" data-da="action__form-window,first,867")
						h3 Воспользуйтесь калькулятором для расчета стоимости!
						a(href="calc.html" class="calc__link" data-da="action__title,last,867")
							p Калькулятор расчета
					a(href="calc.html")
						picture
							source(type="image/webp" media="(min-width: 1024px)" srcset="images/content/action-other__mobail-window.webp 1x, images/content/action-other__mobail-window@2x.webp 2x")
							img(src="images/content/action-other__mobail-window.png" srcset="images/content/action-other__mobail-window@2x.png" alt="картинка телефона в акции")
				form(class="action__form action__form-window" id="windowform" method="post")
					.action__title
						h3 Или:
						p Заполните форму связи и наш специалист свяжется с вами в течении 10 минут!
					label(for="name")
					input(type="text" name="name" id="name" placeholder="Имя" title="Введите имя" minlength="3" maxlength="30" required)
					label(for="tel")
					input(type="tel" name="phone" id="tel" placeholder="Номер телефона" title="Введите телефон" minlength="3" maxlength="30" required)
					.action__form-footer.action__form-footer-window
						p Нажимая на кнопку вы соглашаетесь на обработку
							a(href="#") персональных данных
						button(type="submit" class="action__sub-btn") Отправить
