.main-info__container {
  padding-left: $psize;
  //padding-top: 6vw;
  //padding-bottom: 6vw;
  border-radius: 8px;
  position: relative;
  height: 30vw;
  max-height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 3.2vw;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 42vw;
    margin-bottom: $f40;
  }

  p {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 130%;
    color: white;
    max-width: 30vw;
    padding-bottom: 4.5vw;
    display: none;
  }
}

.main-info__link-more {
  padding: 1.05vw 4.38vw;
  font-style: normal;
  font-weight: bold;
  font-size: $f20;
  line-height: 100%;
  color: #000;
  height: 3.38vw;
  background-color: white;
  border-radius: 8px;
  //display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 15.1vw;

  //временно отключ кнопуку
  display: none;
}

.main-info {
  background: url("../images/content/bg__main.jpg") no-repeat;
  background-size: cover;
  border-radius: 0.5vw!important;
  position: relative;

  @media (max-width: $mobile-width) {
    border-radius: 8px!important;
  }

  &::after {
    content: "";
    position: absolute;
    width: 54.4vw;
    height: 54.4vw;
    right: -15vw;
    top: 17vw;
    z-index: -1;
    background: url("../images/content/bg__circle.svg") no-repeat;
    background-position: center;
    background-size: contain;
    animation: spin 5s linear 0s infinite;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../images/content/circle-opacity.svg") no-repeat;
    background-position: center;
    background-size: contain;
    width: 40vw;
    height: 40vw;
    left: -13vw;
    top: 28vw;
    z-index: -1;
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main@2x.jpg");
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-webkit-keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.main-info__other-page {
  margin-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    background: url("../images/content/circle-opacity2.svg") no-repeat;
    background-position: center;
    background-size: contain;
    width: 40vw;
    height: 40vw;
    left: -13vw;
    top: 40vw;
    z-index: -1;
  }

  p {
    display: none;
  }
}

.main-info__window-page {
  background: url("../images/content/bg__main-advantages.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: $f60;


  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi)  {
  background-image: url("../images/content/bg__main-advantages@2x.jpg");
  }
}

.main-info__action-page {
  background: url("../images/content/bg__main-action.jpg") no-repeat;
  background-size: contain;
  border-radius: 8px;
  position: relative;
  margin-bottom: $f60;

  .action-page__form {
    position: relative;
    top: 4vw;
  }

  .action__present {
    position: absolute;
    top: 0;
    right: 0;
    width: 15vw;
    height: 14vw;
  }


  .main-info__container {
    align-items: center;

    h1 {
      max-width: 70vw;
      text-align: center;
      font-weight: 800;
      font-size: $f60;
      line-height: $f70;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      position: relative;
      top: 11vw;
    }

    a {
      display: none;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-action@2x.jpg");
  }
}

.main-info__actionsingle-page {
  background-size: 100% 100%;
  height: 38vw;
}

.main-info__loftpartitions-page {
  background: url("../images/content/bg__main-loftpartitions.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-loftpartitions@2x.jpg");
  }
}


.main-info__windowmain-page {
  background: url("../images/content/bg__main-windowmain.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 3.7vw;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-windowmain@2x.jpg");
  }
}

.main-info__doorspvh-page {
  background: url("../images/content/bg__main-doorspvh.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-doorspvh@2x.jpg");
  }
}

.main-info__jalousie-page {
  background: url("../images/content/bg__main-jalousie.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-jalousie@2x.jpg");
  }
}

.main-info__shopping-page {
  background: url("../images/content/bg__main-shopping.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: $f60;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-shopping@2x.jpg");
  }
}

.main-info__mosquito-page {
  background: url("../images/content/bg__main-mosquito.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-mosquito@2x.jpg");
  }
}


.main-info__tent-page {
  background: url("../images/content/bg__main-tent.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-tent@2x.jpg");
  }
}

.main-info__panoramic-page {
  background: url("../images/content/bg__main-panoramic.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: $f60;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-panoramic@2x.jpg");
  }
}

.main-info__ingroup-page {
  background: url("../images/content/bg__main-group.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-group@2x.jpg");
  }
}

.main-info__wintergardens-page {
  background: url("../images/content/bg__main-wintergardens.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-wintergardens@2x.jpg");
  }
}

.main-info__stationary-page {
  background: url("../images/content/bg__main-stationary.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-stationary@2x.jpg");
  }
}

.main-info__slidingpartitions-page {
  background: url("../images/content/bg__main-slidingpartitions.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: $f60;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-slidingpartitions@2x.jpg");
  }
}

.main-info__mobilepartitions-page {
  background: url("../images/content/bg__main-mobilepartitions.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-mobilepartitions@2x.jpg");
  }
}

.main-info__glassunit-page {
  background: url("../images/content/bg__main-glassunit.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-glassunit@2x.jpg");
  }
}

.main-info__windowsill-page {
  background: url("../images/content/bg__main-windowsill.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 0;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-windowsill@2x.jpg");
  }
}

.main-info__fittings-page {
  background: url("../images/content/bg__main-fittings.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-fittings@2x.jpg");
  }
}

.main-info__laminate-page {
  background: url("../images/content/bg__main-laminate.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-laminate@2x.jpg");
  }
}

.main-info__window-pvh {
  background: url("../images/content/bg__main-window-pvh.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 0;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi) {
    background-image: url("../images/content/bg__main-window-pvh@2x.jpg");
  }
}

.main-info__doors-page {
  background: url("../images/content/bg__main-doors.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 0;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi)  {
  background-image: url("../images/content/bg__main-doors@2x.jpg");
  }
}


.main-info__autodoors-page {
  background: url("../images/content/bg__main-autodoors.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 0;

  .main-info__container {
    h1 {
      max-width: 46vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-autodoors@2x.jpg");
  }
}


.main-info__officedoors-page {
  background: url("../images/content/bg__main-officeoors.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: $f60;

  .main-info__container {
    h1 {
      max-width: 40vw;
    }
  }

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-resolution: $retina-dppx),
  only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-officeoors@2x.jpg");
  }
}

.main-info__facade-page {
  background: url("../images/content/bg__main-facade.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 0;

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi)  {
  background-image: url("../images/content/bg__main-facade@2x.jpg");
  }
}

.main-info__clients-page {
  background: url("../images/content/bg__main-clients.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 0;

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main-clients@2x.jpg");
  }
}

.main-info__balcony-page {
  background: url("../images/content/bg__main-balcony.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  background-position: right;
  margin-bottom: $f60;

  .main-info__container {
    h1 {
      max-width: 53vw;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi) {
    background-image: url("../images/content/bg__main-balcony@2x.jpg");
  }
}

.main-info__swingdoors-page {
  background: url("../images/content/bg__main-swingdoors.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;


  .main-info__container {
    h1 {
      max-width: 36vw;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi) {
    background-image: url("../images/content/bg__main-swingdoors@2x.jpg");
  }
}

.main-info__slidingdoors-page {
  background: url("../images/content/bg__main-slidingdoors.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;


  .main-info__container {
    h1 {
      max-width: 36vw;
    }
  }

  //&::before {
  //  top: 40vw;
  //}

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi) {
    background-image: url("../images/content/bg__main-slidingdoors@2x.jpg");
  }
}


.main-info__aluminumdoors-page {
  background: url("../images/content/bg__main-aluminumdoors.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: $f60;

  .main-info__container {
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;

    h1 {
      max-width: 40vw;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi) {
    background-image: url("../images/content/bg__main-aluminumdoors@2x.jpg");
  }
}

.main-info__complete-page {
  background: url("../images/content/bg__main-complete.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  margin-bottom: 0;

  h1 {
    max-width: 32vw;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi) {
    background-image: url("../images/content/bg__main-complete@2x.jpg");
  }
}

.main-info__location {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875vw;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  width: 100%;
  max-width: 17.63vw;
  padding: 0.95vw;
  padding-left: 2vw;
  text-align: left;
  white-space: nowrap;
  margin-bottom: $f36;

  svg {
    position: absolute;
    left: 0.7vw;
    top: 0.8vw;
    width: 0.85vw;
    height: 1vw;
    fill: white;
  }
}

//advantages-page
.main-info__advantages {
  background: url(../images/content/bd__main.jpg) no-repeat;
  background-position: center;
  background-size: cover;

  @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi)  {
    background-image: url("../images/content/bg__main@2x.jpg");
  }
}

@media (max-width: $mobile-width) {
  .main-info__container {
    padding: 20px 27px;
    height: auto;

    p {
      display: inline-block;
    }
  }

  .main-info {
    width: 100%;
    height: 330px;
    background-position: center;


    &::after {
      content: "";
      position: absolute;
      width: 316px;
      height: 316px;
      right: -210px;
      top: 111%;
      z-index: -1;
      background: url("../images/content/circle-mob.svg") no-repeat;
    }
  }

  .main-info__location {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    max-width: none;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-left: 39px;
    max-width: 289px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    white-space: nowrap;

    svg {
      width: 12px;
      height: 14px;
      top: 13px;
      left: 18px;
    }
  }

  .main-info__mob {
    display: flex;
    flex-direction: column;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 120%;
      max-width: none;

      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      order: 1;
      color: #000000;
      padding-top: 34px;
      padding-bottom: 20px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      color: #000000;
      max-width: none;
      padding-bottom: 0;
      order: 2;
      display: none;
    }

    a {
      display: flex;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 100%;
      color: #ffffff;
      width: 100%;
      height: 60px;
      max-width: 332px;
      padding: 22px 125px;
      justify-content: center;
      align-items: center;
      background-color: #33C5F3;
      background: -o-linear-gradient(left, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
      background: -webkit-gradient(linear, left top, right top, from(#88E2FF), color-stop(#A88AFF), color-stop(#88E2FF), to(#A88AFF));
      background: linear-gradient(
                      90deg
              , #88E2FF, #A88AFF, #88E2FF, #A88AFF);
      background-size: 320% 200% !important;
      -webkit-animation: GradientBreathe 4s linear infinite;
      animation: GradientBreathe 4s linear infinite;
      -webkit-transition: background-color 1s ease;
      -o-transition: background-color 1s ease;
      transition: background-color 1s ease;
      order: 3;
    }
  }


  .main-info__action-page {
    background-size: cover;
    background: url("../images/content/bg__action-mob.jpg") no-repeat;
    background-size: cover;


    @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: $retina-dppx),
    only screen and (min-resolution: $retina-dpi)  {
      background-image: url("../images/content/bg__action-mob@2x.jpg");
    }

    .action-page__form {
      display: none;
    }

    .action__present {
      position: absolute;
      top: 88%;
      right: 26%;
      width: 177.12px;
      height: 197.14px;
      object-fit: cover;
    }

    .main-info__mob {
      padding: 0;
    }


    .main-info__container {
      width: auto;

      h1 {
        max-width: 100%;
        text-align: left;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        position: relative;
        top: 0;
      }

      a {
        display: inline-block;
        padding: 0;
      }
    }
  }
  .link__action-slae {
    padding: 0!important;
  }

  .main-info__other-page {
    p {
      display: inline-block;
    }
  }
}

@media (max-width: 374px) {
  .main-info__location {
    font-size: 12px;
  }
}
