html {
  font-family: $fontfamali;
  font-size: $f20;
  height: 100%;
}

html[data-theme = "light"] {
  --grey-bg: #F8f8f8;
}

html[data-theme = "dark"] {
  --grey-bg: #202023;
}


body {
  //display: flex;
  //flex-direction: column;
  //height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-color);
}


//блокировка скролла при открытых модальных окнах
.body.dis {
  overflow: hidden;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--main-color);
}

ol,
ul,
a {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  outline: none;
}

a:visited {
  text-decoration: none;
}


img {
  max-width: 100%;
  display: block;
  border-radius: 0.5vw;

  @media (max-width: $mobile-width) {
    border-radius: 8px;
  }
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--main-color);
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

input:invalid {
  box-shadow: none;
}

button,
input {
  border: none;
  cursor: none;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}


input,
select,
button {
  outline: none;
}


//закругление на больших экранах
button {
  cursor: pointer;
  border-radius: 0.5vw!important;

  @media (max-width: $mobile-width) {
    border-radius: 8px!important;
  }
}

a {
  border-radius: 0.5vw!important;

  @media (max-width: $mobile-width) {
    border-radius: 8px!important;
  }
}

//

input {
  cursor: text;
}


button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

p {
  color: #000;
}

.open-spoiler {
  cursor: pointer;
}

//страница полтики
.polit {
  h1 {
    padding-bottom: $f20;

    @media (max-width: $mobile-width) {
      padding-bottom: 20px;
    }
  }

  p {
    padding-bottom: 0.5vw;
    max-width: 100%;

    @media (max-width: $mobile-width) {
      color: #000000;
      padding-bottom: 10px;
    }

    &:last-child {
      padding-bottom: $f40;
    }
  }
}

.sub-btn {
  @media (min-width: 1600px) {
    padding: 1.2vw 3.1vw!important;

    font-size: 1vw!important;
  }
}

.js-open-modal {
  background-color: #33C5F3;
  background: -webkit-gradient(linear, left top, right top, from(#88E2FF), color-stop(#A88AFF), color-stop(#88E2FF), to(#A88AFF));
  background: -o-linear-gradient(left, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  background: linear-gradient(
                  90deg
          , #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  background-size: 320% 200%!important;
  -webkit-animation: GradientBreathe 4s linear infinite;
  animation: GradientBreathe 4s linear infinite;
  -webkit-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
  cursor: pointer;


  @media (min-width: 1600px) {
    padding: 1.2vw 2.2vw!important;
  }
}

//блок для скидки 30%
.block__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 3.7vw;

  h1 {
    padding-bottom: 0!important;//для редизайна когда убрали текст
    max-width: 31vw;
  }

  @media (min-width: 1600px) {
    padding-bottom: 2.5vw;

    h1 {
      font-size: 1.9vw;
      padding-bottom: 1.2vw;
    }

    p {
      font-size: 1.1vw;
      padding-bottom: 2.25vw;
    }
  }

  @media (max-width: $mobile-width) {
    a {
      display: none;
    }

    h1 {
      max-width: 100%;
    }
  }

  a {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.13vw;
    line-height: 100%;
    background: linear-gradient(
90deg
, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    border-radius: 8px;
    padding: 1.375vw 2.5vw;
  }

  p {
    padding-bottom: 0;
    color: #6A6868;
  }
}


section {
  margin-left: $psize;
  margin-right: $psize;

  @media (min-width: 1600px) {
    margin-left: $psizeB;
    margin-right: $psizeB;
  }

  @media (max-width: $mobile-width) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 374px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25vw;
  line-height: 100%;

  @media (max-width: $mobile-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 100%;
    color: #000000;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: $f20;
  line-height: 130%;
  max-width: 34vw;

  @media (max-width: $mobile-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #6A6868;
    max-width: 335px;
  }
}


input {
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: $f24;
  border-radius: 8px;

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: $f24;
    color: #5F6773;
  }

  @media (max-width: $mobile-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

//cтили для swiper слайдеров на мобильной версиии


.slider__arrows.swiper-button-disabled {

  &::before {
    background-color: #c4c4c4;
  }
}
