.works__container {
  position: relative;

  h1 {
    padding-bottom: $f14;
  }

  p {
    max-width: 34vw;
  }
}

.works__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $f55;

  a {
    font-style: normal;
    font-weight: normal;
    font-size: $f18;
    line-height: 100%;
    color: #37364D;
    background: #FFFFFF;
    border: 1px solid rgba(39, 104, 231, 0.2);
    padding: $f22 $f70;
    border-radius: 8px;
  }
}

.works {
  padding-left: $psize;
  padding-right: $psize;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: $f30;
  padding-top: $f60;
}

.works__page-door {
  padding-top: $f70;
  padding-bottom: 0;
}

.works__item {
  width: 28.3vw;
  height: 21.9vw;

  img {
    object-fit: cover;
  }

  p {
    font-style: normal;
    font-weight: bold;
    font-size: $f24;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
    z-index: 100;
    top: -7vw;
    padding-left: $f40;
    max-width: 17vw;
  }
}

.works__span {
  display: flex;
  padding-left: 2.5vw;
  position: relative;
  top: -7.5vw;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
    color: white;
    background: rgba(51, 197, 243, 0.8);
    border-radius: 8px;
    margin-right: 0.5vw;
    max-width: 4.75vw;
    height: $f28;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

.works__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: $f20;
  grid-row-gap: $f20;
  position: relative;
}

.works__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin-top: $f20;
}

.works__all-link {
  background: #33C5F3;
  border: 1px solid rgba(39, 104, 231, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: $f18;
  line-height: 100%;
  color: #FFFFFF;
  padding: $f22 $f149;
}

@media (max-width: $mobile-width) {
  .works__container {
    p {
      max-width: 335px;
      padding-bottom: 30px;
    }

    h1 {
      padding-bottom: 20px;
    }
  }

  .works__title {
    padding-bottom: 0;

    a {
      display: none;
    }
  }

  .works__span {
    display: none;
  }

  .works__item {
    width: 100%;
    height: 258px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 258px;
      border-radius: 8px;
    }

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 120%;
      max-width: 273px;
      padding-bottom: 0;
      top: -80px;
    }
  }

  .works__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    grid-template-columns: auto;
    grid-column-gap: auto;
    grid-row-gap: auto;
  }

  .works__btn {
    background: none;
    height: auto;
    bottom: 0;
    position: relative;
    padding-top: 30px;
  }

  .works__all-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 100%;
    text-align: center;
    max-width: 335px;
    margin: 0 auto;
  }

  .works {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}
