.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: $psize;
  padding-left: $psize;
  padding-top: $f24;
  position: relative;
  background-color: #fff;
  transition: 0.3s all;

  @media (min-width: 1600px) {
    padding-left: $psizeB;
    padding-right: $psizeB;

    .header__main-nav {
      a {
        font-size: $f18;
      }
    }

    .header__socials {
      a {
        svg {
          width: 1.3vw;
          height: 1.3vw;
        }
      }
    }

    .header__tel {
      a {
        font-size: 1vw;
      }
    }

    .header__wrap-img {
      img {
        width: 9vw;
        height: 1.8vw;
      }
    }
  }

}

//тут стили для модального окна акций

.header__container.active {
  z-index: 500;
}

.header {
  position: relative;
}

.header__wrap-img {
  position: relative;

  img {
    width: $f149;
    height: 2vw;
    margin-bottom: 0;
    position: relative;
    border-radius: 0;
  }
}

.header__link-reviews {
  position: relative;
  padding-right: 1vw;

  &::before {
    content: "22";
    position: absolute;
    font-size: 0.8vw;
    font-weight: bold;
    line-height: 100%;
    right: 0;
    color: #FC4A4A;
  }
}

.header__link-action {
  background: #f9f9f9!important;
  position: relative;
  padding-left: $f34;
  padding-right: $f34;
  padding-top: $f18;
  padding-bottom: 0.65vw;
  border-radius: 8px;

  &::before {
    content: "";
    position: absolute;
    width: 0.75vw;
    height: 0.75vw;
    background: url("../images/content/action-circle.svg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    right: 1.4vw;
    top: 0.8vw;
  }
}

//стилизация при открытии .modal-action
.header__link-action.active {
  background-color: #33C5F3;
  color: black;
}

.header__main-nav {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

  //&::before {
  //  content: "";
  //  position: absolute;
  //  width: 38px;
  //  height: 1px;
  //  transform: rotate(90deg);
  //  background-image: linear-gradient(87deg, rgba(0, 0, 0, 0), #1B3975 50%, rgba(0, 0, 0, 0));
  //  background-repeat: no-repeat; /* убираем повторение градиента, необходимо для работы background-size */
  //  background-position: 50% 100%;
  //  background-size: 100% 1px;
  //  background-origin: padding-box, border-box;
  //  top: 1.7vw;
  //  right: -2.6vw;
  //}
  //
  //&::after {
  //  content: "";
  //  position: absolute;
  //  width: 38px;
  //  height: 1px;
  //  transform: rotate(90deg);
  //  background-image: linear-gradient(87deg, rgba(0, 0, 0, 0), #1B3975 50%, rgba(0, 0, 0, 0));
  //  background-repeat: no-repeat; /* убираем повторение градиента, необходимо для работы background-size */
  //  background-position: 50% 100%;
  //  background-size: 100% 1px;
  //  background-origin: padding-box, border-box;
  //  top: 1.7vw;
  //  left: -2.6vw;
  //}

  a {
    margin-right: $f30;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header__location {
  display: none;
  margin-left: 2vw;
}

.header__place {
  position: relative;

  &:first-child {
    margin-right: $f28;
  }

  svg {
    position: absolute;
    left: -1vw;
    top: 0.2vw;
    width: 0.85vw;
    height: 1vw;
  }

  a {
    font-style: normal;
    font-weight: normal;
    font-size: $f18;
    line-height: 1.7vw;
    position: relative;
  }

  p {
    font-style: normal;
    font-weight: 350;
    font-size: 1vw;
    line-height: 130%;
    padding-left: 1.7vw;
  }
}

.header__place-block {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  padding: $f18;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  width: 38vw;
  height: 13.65vw;
  top: 4vw;
  z-index: 500;
}

.header__place-img {
  max-width: 20vw;
  height: 100%;

  iframe {
    height: 100%;
  }
}

.header__place-contact-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: $f26;
    text-align: right;

    color: #37364D;
    margin-bottom: 0;
  }

  a {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 100%;
    /* identical to box height, or 16px */
    background: linear-gradient(
90deg
, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    border-radius: 8px;
    padding: $f20 $f30;
    letter-spacing: -0.02em;

    color: #FFFFFF;
  }
}

.header__time-work {
  p {
    font-style: normal;
    font-weight: 350;
    font-size: 1vw;
    line-height: 130%;
  }
}

.header__socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.6vw;
  grid-column-gap: $f22;

  a {
    width: $f24;
    height: $f24;
    display: flex;
    align-items: center;
    align-content: center;

    svg {
      width: $f24;
      height: $f24;
    }
  }
}

.header__tel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  &:hover {
    .header__place-block {
      width: 38vw;
      height: 13.65vw;
      opacity: 1;
      visibility: visible;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: $f18;
        line-height: 27px;
      }
    }
  }

  svg {
    width: 0.95vw;
    height: 0.95vw;
    left: 0;
    position: absolute;
    top: 0.3vw;
  }

  p {
    font-style: normal;
    font-weight: 350;
    font-size: 1vw;
    line-height: 130%;
  }

  a {
    font-style: normal;
    font-weight: normal;
    font-size: $f18;
    line-height: $f28;
    position: relative;
    padding-left: 1.4vw;
    display: flex;
    align-items: center;
    max-width: $psizeB;
  }
}

.header__list {
  padding-left: $psize;
  padding-right: $psize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $f20;
  padding-bottom: $f20;

  @media (min-width: 1600px) {
    padding-left: $psizeB;
    padding-right: $psizeB;
    padding-top: 1vw;
    padding-bottom: 1vw;

    .header__burger-mega-block {
      margin-right: 2vw;
    }

    .header__main-list-hover-links {
      margin-right: 2vw;
    }

    .header__link-list {
      a {
        font-size: 1.1vw;
      }
    }

    .header__main-links{

      svg {
        width: 1vw;
        height: 1vw;
        top: 1.1vw;
        left: 1.1vw;
      }
      a {
        &:last-child {
          font-size: 0.75vw;
          padding-left: 2.5vw !important;
        }
      }
    }
  }
}

.header__link-list {
  // margin-right: $f34;
  display: flex;
  align-items: center;
  align-content: center;
  order: 2;
  width: 100%;
  justify-content: space-around;

  a {
    font-style: normal;
    font-weight: normal;
    font-size: $f20;
    line-height: 100%;
    position: relative;
    margin-right: $f20;
    padding-left: 1.5vw;

    &:last-child {
      margin-right: 0;
      white-space: nowrap;
    }
  }

  svg {
    position: absolute;
    width: 1vw;
    height: 1vw;
    left: 0;
  }
}

.header__main-links {
  display: flex;
  order: 3;

  a {
    font-style: normal;
    font-weight: bold;
    font-size: $f14;
    line-height: 100%;
    /* identical to box height, or 16px */
    white-space: nowrap;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: relative;
    margin-right: $f21;
    padding-left: 2.7vw;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    position: absolute;
    width: 1.1vw;
    height: 1.1vw;
    top: 1.1vw;
    left: 1.5vw;
  }
}

.header__burger {
  position: relative;
  width: 5vw;
  height: 3.7vw;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 8px;
  //margin-right: $f30;
  order: 1;

  @media (min-width: 1600px) {
    height: 3.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1vw;
    height: 0.2vw;
    top: 1.8vw;
    background-color: #000000;
    transition: 0.3s linear;
    @media (min-width: 1600px) {
      top: 1.6vw;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 1vw;
    height: 0.15vw;
    top: 1.4vw;
    background-color: #000000;
    transition: 0.3s linear;

    @media (min-width: 1600px) {
      top: 1.3vw;
    }
  }

  span {
    position: absolute;
    width: 1vw;
    height: 0.15vw;
    padding-bottom: 0.2vw;
    top: 2.2vw;
    background-color: #000000;
    @media (min-width: 1600px) {
      top: 1.95vw;
    }
  }
}

.header__burger.active {
  span {
    display: none;
  }

  &::after {
    transform: rotate(45deg);
    top: 1.8vw;

    @media (min-width: 1600px) {
      top: 1.6vw;
    }
  }

  &::before {
    transform: rotate(-45deg);
    height: 0.15vw;
  }
}

.header__link-avatar {
  display: flex;
  align-items: center;
  padding: 1.3125vw 2.35vw;
  border-radius: 8px;
  color: #ffffff;
  background-color:#33C5F3;
  background: linear-gradient(90deg, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  background-size: 320% 200%;
  animation: GradientBreathe 4s linear infinite;
  transition: background-color 1s ease;

  svg {
    fill: #ffffff;
  }
}

@-webkit-keyframes GradientBreathe {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
@keyframes GradientBreathe {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.header__link-call {
  display: flex;
  align-items: center;
  padding: 1.3125vw 1.7vw;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.header__mob-links {
  display: none;
}

.header__logo-mobail {
  display: none;
}

.header__mob-wrapper {
  display: none;
}

.header__logo {
  p {
    font-family: "Bookman Old Style", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $f22;
    line-height: $f20;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    padding-left: 4.05vw;


    &::before {
      content: "";
      position: absolute;
      width: 3.25vw;
      height: 3.25vw;
      left: 0;
      top: 0.5vw;
      background: url("../images/content/logo.svg") no-repeat;
      background-size: contain;
    }

    //&::after {
    //  content: "";
    //  position: absolute;
    //  width: $f18;
    //  height: $f18;
    //  background-color: #33C5F3;
    //  left: 1.4vw;
    //  top: -0;
    //}

    span {
      font-size: $f12;
    }
  }
}

//стили мобильного меню
.overlay-mob {
  display: none;
}

.overlay-mob-tel {
  display: none;
}

.header__mob-sp-text {
  display: none;
}

.header-mob-main {
  display: none;
}

//cтили блоков ,которые появляются при наведении
.header__hover-block {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  background-color: #fff;
  position: absolute;
  left: -2vw;
  top: -2vw;
  z-index: 1000;
  border-radius: 26px 0;
  padding: $f28 $f22;
  border: 0.05vw solid #33c5f3;

  a {
    padding-left: 0;

    svg {
      position: relative;
    }
  }

  .mega-menu__col-item {

    &:nth-child(2) {
      margin-top: 1.2vw;//создание отступа для списка
    }

    a {
      margin-left: 0.5vw;
    }

    svg {
      position: relative;
    }
  }

  .header__sp-link {
    margin-left: 0.6vw;
    margin-right: 0;
    margin-bottom: 0.4vw;

    svg {
      padding-left: 0;
      margin-right: 0.4vw;
      top: -0.2vw;
      position: relative;
      left: -4.7vw;
      fill: #33c5f3;

    }
  }
}

.header__main-link-hover {
  display: flex;
  align-items: center;
  position: relative;
}

.header__main-link-hover:hover .header__hover-block {
  opacity: 1;
  visibility: visible;
}

.header__main-link-hover .mega-menu__hov-link-wrap:hover {
  a {
    color: #33c5f3;
  }

  svg {
    fill: #33c5f3;
  }
}


.header__main-link-hover .mega-menu__col-item:hover {
  svg {
    stroke: #33c5f3;
  }

  a {
    color: #33c5f3;
  }
}

.mega-menu__hov-link-wrap {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;

  svg {
    position: relative;
    top: -0.3vw;
  }
}

.header__main-list-hover-links.active {
  display: none;
}

.header__mega-menu-block.active {
  display: flex;
}

//cтили верхнего блока мега меню
.header__main-list-hover-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: $f60;
}

.header__mega-menu-block {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 1.2vw;
}

.header__mega-menu-link-wrap {
  display: flex;
}

.header__mega-block-link {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(51, 197, 243, 0.4);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1vw;

  &:first-child {
    margin-right: $f14;
  }

  svg {
    position: relative;
    top: 0;
    left: 0;
    margin-right: $f20;
    fill: #33c5f3;
  }

  a {
    padding-left: 0;
  }
}

.header__mega-menu-block-text {
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: none;
  padding-right: $f34;
  color: #37364D;
}

.header__mega-menu-block-text.active {
  display: block;
}

.header__burger-mega-block {
  //min-width: 10vw;
  display: flex;
  background-color: #f9f9f9;

  flex-direction: row-reverse;
  padding-left: $f22;
  padding-right: $f22;
  margin-right: 5vw;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  //padding: $f34 $f22;
  padding: 0;
}

.header__burger-mega-block.active {
  margin-right: 1vw;
}


@media (max-width: $mobile-width) {
  .header__location {
    display: none; // временно
  }

  .header__link-list {
    display: none;
  }

  .header__tel {
    display: none; //временно
  }

  .header__main-links {
    display: none;
  }

  .header__logo {
    p {
      font-family: "Bookman Old Style", "Arial", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16.89px;
      line-height: 15px;
      padding-left: 38px;

      &::before {
        width: 32.88px;
        height: 29.88px;
        top: 10px;
      }

      &::after {
        width: 13.05px;
        height: 13.05px;
        left: 16.5px;
        top: -2px;
      }

      span {
        font-size: 9.21446px;
      }
    }
  }

  .header__mob-links {
    display: flex;

    svg {
      width: 12px;
      height: 14px;
    }
  }

  .header__mob-avatar {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(
90deg
, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 8px;

    svg {
      left: 13px;
      top: 12px;
      fill: white;
      position: absolute;
    }
  }

  .header__mob-wrapper {
    display: flex;
  }

  .header__burger {
    width: 38px;
    height: 38px;
    margin-right: 0;
    margin-left: 8px;

    &::after {
      width: 16px;
      top: 13px;
      height: 2.5px;
      transition: 0.3s linear;
    }

    &::before {
      width: 16px;
      top: 18px;
      height: 2px;
      transition: 0.3s linear;
    }

    span {
      width: 16px;
      top: 23px;
      height: 2px;
    }
  }

  .header__burger.active {

    span {
      display: none;
    }


    &::after {
      transform: rotate(45deg);
      top: 18px;
    }

    &::before {
      transform: rotate(-45deg);
      height: 2px;
    }
  }

  .header__wrap-img {
    img {
      width: 117px;
      height: 30px;
      margin-bottom: 0;
    }
  }

  .header__logo-mobail {
    display: block;
  }

  .header__logo-desktop {
    display: none;
  }

  .header__container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.200147);
    padding-bottom: 13px;
  }

  //cтили мобильного меню

  .overlay-mob {
    display: flex;
    flex-direction: column;
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 70px;
    background-color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  .overlay-mob-tel {
    display: flex;
    flex-direction: column;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 70px;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
  }


  //стили для моб меню информации для открытия
  .overlay-mob-tel.active {
    height: 100%;
  }

  .header__link-call-mob {
    font-size: 0;
    padding: 11px;
    transition: 0.3s linear;
    width: 34px;
    height: 38px;
    background-color: #E9E9E9;
    border-radius: 8px;

    svg {
      width: 12px;
      height: 14px;
      opacity: 1;
      visibility: visible;
      transition: 0.3s linear;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      top: 27px;
      height: 0;
      background-color: #000000;
      opacity: 0;
      transition: 0.3s linear;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      top: 27px;
      height: 0;
      background-color: #000000;
      opacity: 0;
      transition: 0.3s linear;
    }
  }

  .header__link-call-mob.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    &::before {
      width: 16px;
      top: 27px;
      height: 2px;
      opacity: 1;
      transform: rotate(-45deg);
    }

    &::after {
      width: 16px;
      top: 27px;
      height: 2px;
      opacity: 1;
      transform: rotate(45deg);
    }
  }

  .header__mob-main {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 100%;
      padding-bottom: 23px;
    }
  }

  .header__main-nav {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 24px;
    margin-bottom: 60px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
      margin-right: 0;
      width: fit-content;
      background: #fff!important;
    }
  }

  .header__link-action {
    padding: 0;
    background-color: #fff;

    &::before {
      width: 12px;
      height: 12px;
      right: -10px;
      top: -7px;
    }
  }

  .header__link-reviews {
    &::before {
      font-size: 10px;
      right: -7px;
    }
  }

  .header__mob-sp-text {
    flex-direction: column;
    margin-bottom: 30px;

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
      color: #000;
      margin-bottom: 24px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .header__mob-info {
    margin-bottom: 40px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 100%;
      padding-bottom: 24px;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
    }
  }

  .header__mob-wrap {
    display: flex;
    justify-content: space-between;
  }

  .header__mob-info-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }

  .header__socials {
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: auto;
    column-gap: 20px;

    a {
      width: 20px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  //убираю списки с пк версии

  .header__hover-block {
    display: none;
  }


  //убираю слово "меню" при открытии
  .header__burger-mega-block {
    display: none;
  }

  .header__wrap-img {
    img {
      width: 117px;
      height: 26px;
      margin-bottom: 0;
      position: relative;
    }
  }

  .header__mega-menu-link-wrap {
    flex-direction: column;

    .header__mega-block-link {
      padding: 20px 24px;

      &:first-child {
        margin-right: 0;
        margin-bottom: 10px;
      }

      svg {
        width: 24px;
        height: 21px;
      }

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
      }

    }
  }
}

@media (max-width: 374px) {
  .header__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
