.overlay {

  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 200;
  transition: .3s all;
}


/* Стили для модальных окон */

.modal {

  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 72.69vw;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300; /* Должен быть выше чем у подложки*/
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.modal-rev {
  background-color: transparent;
  top: 5%;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
  opacity: 1;
  visibility: visible;
}

.overlay.active {
  height: 100%;
}

.modal .modal_content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%;
  z-index: 99999;
}

.modal-rev .modal__reviews-container {
  background-color: transparent;
  border: none;
  width: 72.69vw;
  height: 55vh;
  z-index: 99999;
  position: absolute;
  z-index: 99999;
}

.modal-rev .modal__reviews-container .close_modal_window {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__content {
  width: 100%;
  height: 29.5vw;
  left: 0;
  top: 0;
  position: relative;
  background-color: #ffffff;
  background: url("../images/content/modal__bg.png") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   left: 0;
  //   background: linear-gradient(92.28deg, rgba(39, 104, 231, 0.08) -0.06%, rgba(39, 231, 109, 0.12) 99.3%);
  //   background-size: cover;
  // }
}

.modal__reviews-container {
  width: 72.69vw;
  height: 37.5vw;
  left: 0%;
  top: 6vw;
  position: relative;
  padding: 0;
  background-color: transparent;

  @media (min-width: 1900px) {
    top: 0;
  }

  span {
    width: $f60;
    height: $f60;
  }
}

.modal__bg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 37.5vw;
}

.modal__img {
  position: relative;
  height: 29.5vw;

  img {
    position: relative;
    top: 0.7vw;
    width: 35.5vw;
    padding-left: 0.4vw;
    height: 27.5vw;

    max-height: 28.5vw;
    border-radius: 8px;
  }
}

.modal__img-person {
  position: absolute;
  width: 26.75vw !important;
  height: 29.2vw !important;
  top: -28.6vw !important;
  left: 9vw;
}

.modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 31.94vw;
  margin-right: $f50;

  input {
    height: 3.7vw;
    margin-bottom: $f20;
    padding-left: 1.75vw;
    background: #FFFFFF;
    border: 1px solid rgba(39, 104, 231, 0.2);
    box-sizing: border-box;
    border-radius: 8px;

    &:focus {
      border: 1px solid #33C5F3;
    }
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: $f36;
    line-height: 110%;
    color: #000000;
    padding-bottom: $f20;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
    text-align: center;
    color: #37364D;
    padding-bottom: $f60;
  }
}

.modal__form-footer {
  display: flex;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: $f14;
    line-height: 130%;
    color: #37364D;
    text-align: left;
    padding-bottom: 0;
  }

  a {
    padding-left: 0.2vw;
    color: #33C5F3;
    border-radius: 0!important;
    padding-bottom: 0.05vw;
    border-bottom: 1px solid #33C5F3;
  }
}

.modal__sub-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 1.13vw;
  background-color: #33C5F3;
  background: -o-linear-gradient(left, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  background: -webkit-gradient(linear, left top, right top, from(#88E2FF), color-stop(#A88AFF), color-stop(#88E2FF), to(#A88AFF));
  background: linear-gradient(
                  90deg
          , #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  background-size: 320% 200% !important;
  animation: GradientBreathe 4s linear infinite;

  transition: background-color 1s ease;
  border-radius: 8px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 1.375vw 4.2vw;
}

.modal__reviews-header {
  background-color: #ffffff;
  border-radius: 8px;
  padding: $f28;
  display: flex;
  justify-content: center;
  margin-bottom: $f22;

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: $f36;
    line-height: 100%;
    color: #000000;
  }
}

.modal__reviews-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal__reviews-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-left: $f50;
  padding-right: $f50;
  padding-top: $f60;
  padding-bottom: $f50;
  min-width: 35.63vw;
  border-radius: 8px;
  height: 27vw;

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: $f36;
    line-height: 110%;
    text-align: center;
    color: #000000;
    padding-bottom: $f46;
    max-width: 17vw;
  }

  img {
    width: 13vw;
    height: 4vw;
    margin-bottom: $f70;
  }


  a {
    background-color: #33C5F3;
    background: -o-linear-gradient(left, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    background: -webkit-gradient(linear, left top, right top, from(#88E2FF), color-stop(#A88AFF), color-stop(#88E2FF), to(#A88AFF));
    background: linear-gradient(
                    90deg
            , #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    background-size: 320% 200% !important;
    animation: GradientBreathe 4s linear infinite;
    transition: background-color 1s ease;
    border-radius: 8px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: $f18;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: $f22;
    padding-bottom: $f22;
  }
}

.modal__reviews-block-second {
  img {
    height: 5vw;
    margin-bottom: 3.38vw;
  }
}

.close__reviews {
  position: absolute;
  top: 36vw;
  left: 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.7vw;
  height: 3.7vw;
  right: -5vw;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 2000;
  cursor: pointer;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    top: 2vw;
    left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: $f24;
    height: $f24;
    background-size: cover;
    background: url("../images/content/modal-close.svg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.modal-call__img {
  position: relative;

  img {
    max-width: 36vw;
    height: 28.1vw;
    border-radius: 0.6vw;
    left: 0.3vw;

    &:first-child {
      position: absolute;
    }
  }

  .modal-call__img-person {
    position: absolute;
    z-index: 200;
    top: 0.7vw;
    max-width: 27vw;
  }
}

//стили окна спасибо
.modal-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: $f70;
  padding-bottom: $f70;
  width: 100%;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: $f36;
    line-height: 110%;

    margin-bottom: $f20;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
    margin-bottom: $f40;
    color: #000;
  }

  a {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.13vw;
    line-height: 100%;
    background-color: #33C5F3;
    background: -o-linear-gradient(left, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    background: -webkit-gradient(linear, left top, right top, from(#88E2FF), color-stop(#A88AFF), color-stop(#88E2FF), to(#A88AFF));
    background: linear-gradient(
                    90deg
            , #88E2FF, #A88AFF, #88E2FF, #A88AFF);
    background-size: 320% 200% !important;
    animation: GradientBreathe 4s linear infinite;
    transition: background-color 1s ease;
    border-radius: 8px;
    padding: 1.375vw 5vw;
  }
}

.close_modal_window {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $f60;
  height: $f60;
  right: -5vw;
  top: 31vw;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 2000;
  cursor: pointer;

  p {
    top: 3vw;
  }

  &::before {
    content: "";
    position: absolute;
    width: $f24;
    height: $f24;
    background-size: cover;
    background: url("../images/content/modal-close.svg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.modal-check__img {
  width: $f149;
  height: $f149;
  border: 0.3vw solid #33c5f3;
  border-radius: 50%;
  margin-bottom: $f50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: $f70;
    height: $f55;
    fill: #33c5f3;
  }
}


@media (max-width: $mobile-width) {
  .modal__content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background: url("../images/content/modal__bg.png") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 99;
    padding: 20px 20px;

    &::before {
      background-size: cover;
      top: 0;
    }
  }

  .modal {
    max-width: 335px;
    padding: 0px;
    border-radius: 8px;
    top: 55%;
  }

  .modal__img {
    height: 100%;
    max-height: 160px;

    img {
      width: 295px;
      height: 275px;
      top: 0;
      padding-left: 0;
      min-height: 157px;
    }
  }

  .modal__img-person {
    width: 183.1px !important;
    height: 203.59px !important;
    top: -204px  !important;
  }

  .modal__form {
    top: 0;
    right: 0;
    max-width: none;
    align-items: center;
    margin-right: 0;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 100%;
      text-align: center;
      padding-top: 30px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      padding-bottom: 10px;
    }

    #name-modal {
      display: none;
    }

    input {
      background: #FFFFFF;
      border: 1px solid rgba(39, 104, 231, 0.2);
      box-sizing: border-box;
      border-radius: 8px;
      height: 60px;
      padding-left: 28px;
      padding-top: 18px;
      padding-bottom: 18px;
      margin-bottom: 14px;
      width: 100%;
      max-width: 335px;

      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .modal__form-footer {
    flex-direction: column-reverse;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      padding-top: 12px;
      padding-bottom: 0;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      margin-left: 5px;
      border-radius: 0!important;
    }
  }

  .modal__sub-btn {
    width: 100%;
    max-width: 335px;
    height: 62px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
  }

  .modal-rev {
    top: 10%;
    left: 50%;
  }

  .modal-rev .modal__reviews-container {
    max-width: 335px;
    width: 100%;
  }

  .modal-rev .modal__reviews-container .close_modal_window {
    top: -52px;
    p {
      display: none;
    }
  }

  .close__reviews {
    left: 86%;
    top: -10%;
    width: 39px;
    height: 39px;

    &::before {
      width: 14px;
      height: 14px;
    }
  }

  .close_modal_window {
    width: 39px;
    height: 39px;
    top: -51px;
    right: 0;

    &::before {
      width: 17px;
      height: 12px;
    }
  }

  .modal__reviews-container span {
    width: 14px;
    height: 14px;
  }

  .modal__reviews-header {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-top: 17px;
    padding-bottom: 17px;

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 100%;
    }
  }

  .modal__reviews-wrapper {
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  .modal__reviews-block {
    min-width: 335px;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 20px;
    height: 248.02px;

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
      max-width: 297px;
      height: 62px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 110%;
      max-width: none;
    }

    img {
      width: 139px;
      height: 46px;
      padding-bottom: 0;
      margin-bottom: 24px;
    }
  }

  .modal-call__img img {
    max-width: 100%;
    min-height: 176px;
    border-radius: 8px;
  }

  .modal-call__img-person {
    min-width: 270px;
  }

  .close__reviews {
    p {
      display: none;
    }
  }

  //cтили модального окна спасибо
  .modal-check {
    padding-top: 40px;
    padding-bottom: 30px;

    h1 {
      font-size: 26px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 40px;
    }

    a {
      padding-top: 26px;
      padding-bottom: 26px;
      font-size: 18px;
      width: 100%;
      max-width: 335px;
    }
  }

  .modal-check__img {
    width: 142px;
    height: 142px;
    border: 3px solid #33c5f3;

    svg {
      width: 70.91px;
      height: 53.79px;
    }
  }
}

@media (max-width: 374px) {
  .modal__img {
    img {
      height: 200px;
    }
  }

  .modal__content {
    height: 500px;
  }

  .modal__form {
    h1 {
      font-size: 22px;
      padding-top: 10px;
    }

    p {
      font-size: 12px;
      padding-bottom: 10px;
    }

    input {
      height: 50px;
    }
  }

  .modal__sub-btn {
    height: 50px;
  }
}
