.advantages__container {
  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.25vw;
    line-height: 100%;
    padding-bottom: $f34;
  }
}

.advantages__wrap-title {

}

.advantages__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: $f20;
    line-height: 130%;
    max-width: 34vw;
    color: #6A6868;
  }

  h1 {
    padding-bottom: $f30;
  }
}

.advantages__btn {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: $f18;
  line-height: 100%;
  background: linear-gradient(
90deg
, #88E2FF, #A88AFF, #88E2FF, #A88AFF);
  border-radius: 8px;
  padding: $f22 $f40;
}

.advantages__item {
  padding: $f50 $f40;
  border-radius: 8px;
  background-color: var(--grey-bg);
  max-height: 15.5vw;
  width: 100%;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 130%;
    color: #232735;
  }

  h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 3.45vw;
    line-height: 120%;
    text-transform: uppercase;
    color: #33C5F3;
    margin-right: $f20;
  }

  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: $f20;
    line-height: 120%;
    color: #37364D;
    max-width: 12vw;
  }

  &--action {
    background-color: #33C5F3;
    z-index: 1;
    position: relative;
    overflow: hidden;

    svg {
      position: absolute;
      z-index: 2;
      width: $f282;
      height: $f282;
      top: -1vw;
      left: 8vw;
      fill: #8AE2FE;
      opacity: 0.5;
    }

    h4 {
      color: #fff;
      position: relative;
      z-index: 3;
      max-width: 21vw;
    }

    p {
      color: #fff;
      position: relative;
      z-index: 3;
      padding-top: $f40;
    }
  }
}

.advantages__item-title {
  display: flex;
  align-items: center;
  padding-bottom: 0.5vw;
}

.advantages {
  position: relative;
  z-index: 100;
  padding-top: $f50;
  padding-bottom: $f60;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: $f20;
  grid-row-gap: $f20;
  max-height: 32vw;
  height: 100%;
  width: 100%;
}

.advantages__block {
  display: flex;
  margin-top: $f34;
}

.advantages__img {
  margin-left: $f30;
  position: relative;

  img {
    width: 29.82vw;
    height: 34.8vw;
  }
}

.advantages__bg-img {
  position: absolute;
  top: -1vw;
  width: 28vw !important;
  height: 28vw !important;
  top: 2vw;
  left: 1vw;
  z-index: -1;
}

.advantages__btns {
  display: none;
}

@media (max-width: $mobile-width) {
  .advantages__container {
    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 100%;
      padding-bottom: 32px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      max-width: 335px;
      padding-bottom: 30px;
    }
  }

  .advantages__title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages__btn {
    display: none;
  }

  .advantages {
    padding-top: 66px;
    padding-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
  }


  //Другое название , потому что блок чуть-чуть другой не стал заморачиваться уже то же самое что и обертки XXX__slider
  .advantages__block {
    flex-direction: column;
    //width: 100%;
    //margin-left: 13px;
    width: 100%; //cтили для выравнивания перелистывания слайдов
  }

  .advantages__list {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
    // height: 237px;
    max-height: none;
    // overflow: hidden;
    display: flex;
    justify-content: flex-start;
    //padding-left: 20px;
    margin-left: 20px;
    margin-right: 40px;

    .swiper-slide-active {
      background-color: #33C5F3;

      h3 {
        color: white;
      }

      h4 {
        color: white;
        max-width: 100%;
      }

      p {
        color: white;
      }
    }

    .swiper-slide-next {
      &:last-child {
        h3 {
          color: white;
        }

        h4 {
          color: white;
          max-width: 100%;
        }

        p {
          color: white;
        }
      }
    }
  }

  .advantages__item-title {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }

  .advantages__img {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;

    img {
      height: 359.24px;
      width: 100%;
      max-width: 335px;
    }
  }

  .advantages__bg-img {
    width: 318.42px !important;
    height: 317px !important;
    top: 14px;
    left: 26px;
  }

  .advantages__item {
    overflow: hidden;
    padding: 26px 20px;
    min-width: 276px;
    height: auto;
    margin-right: 0;
    cursor: pointer;
    max-height: none;
    border-radius: 8px;

    &--action {
      margin-right: 0;
      svg {
        width: 276px;
        height: 276px;
        top: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:target,
    &:focus {
      background-color: #33C5F3;

      h3 {
        color: white;
      }

      h4 {
        color: white;
        max-width: 100%;
      }

      p {
        color: white;
      }
    }

    h3 {
      font-style: normal;
      font-weight: 800;
      font-size: 35px;
      line-height: 120%;
      margin-right: 0;
    }

    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      max-width: 100%;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      padding-bottom: 0;
    }
  }

  .advantages__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 26px;
  }

  .advantages__left {
    &::after {
      transform: rotate(180deg);
    }
  }

  // .advantages__arrow.active {
  //   &::after {
  //     background-color: #33C5F3;
  //   }
  // }

  .advantages__arrow {
    width: 46px;
    height: 46px;
    position: relative;
    background-color: transparent;

    &:first-child {
      margin-right: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      background: url("../images/content/arrow__mob-slider.svg") no-repeat;
      background-position: center;
      width: 16px;
      height: 16px;
      top: 15px;
      left: 15px;
      z-index: 100;
    }

    &::before {
      content: "";
      position: absolute;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color:#33C5F3;
      top: 0;
      left: 0;
      z-index: 99;
    }
  }
}
