footer.footer
    .footer__container
        .footer__header
            .footer__mob-header
            a(href="#" data-da="footer__mob-header,last,867").footer__logo
                p
                    span окна
                    br
                    | Токаdа
            .footer__header-wrap
                a(href="#" class="footer__header-link") Заказать звонок
                    +icon("phone")
                a(href="#" class="footer__header-link footer__header-link-mail") zakaz@tokada.ru
                    +icon("mail")
                a(href="tel:+79057990999" class="footer__header-link") +7 905 799 09 99
                    +icon("phone")
                a(href="#" class="footer__arrow-link" data-da="footer__mob-header,last,867")
        .footer__info
            .footer__info-item
                h3(class="open-spoiler active") Окна
                .footer__info-item-text
                    a(href="#") Алюминиевые окна
                    a(href="#") Окна ПВХ
                    a(href="#") Балконы и лождии
            .footer__info-item
                h3(class="open-spoiler active") Двери
                .footer__info-item-text
                    a(href="#") Двери ПВХ
                    a(href="#") Распашные двери
                    a(href="#") Раздвижные двери
                    a(href="#") Автоматические двери
                    a(href="#") Офисные двери
                    a(href="#") Лофт перегородки
            .footer__info-item
                h3(class="open-spoiler active") Фасады
                .footer__info-item-text
                    a(href="#") Навесы и козырьки
                    a(href="#") Панорамное остекление
                    a(href="#") Входные группы
                    a(href="#") Зимние сады
            .footer__info-item
                h3(class="open-spoiler active")
                    | Корпоративным
                    br
                    | клиентам
                .footer__info-item-text
                    a(href="#") Автоматические двери
                    a(href="#") Стационарные перегородки
                    a(href="#") Раздвижные перегородки
                    a(href="#") Мобильные перегородки
            .footer__info-item
                h3(class="open-spoiler active") Комплектующие
                .footer__info-item-text
                    a(href="#") Стеклопакеты
                    a(href="#") Подоконники
                    a(href="#") Фурнитура
                    a(href="#") Ломинация
                    a(href="#") Москитные сетки
                    a(href="#") Жалюзи
        .footer__contacts
            .footer__contact-item
                h3(class="open-spoiler active") О нас
                .footer__info-item-text
                    a(href="#") Работы
                    a(href="#") Отзывы
                    a(href="#") Полезное
                    a(href="#") Новости
                    a(href="#") Калькулятор
                    a(href="#") Часто задаваемые вопросы
            .footer__contact-item.footer__contact-item--actions
                h3(class="open-spoiler active") Акции
                .footer__info-item-text
                    a(href="#") Акция «ОКНОВЛЕНИЕ» - окна REHAU со скидками до 51%
                    a(href="#") Акция «Большому дому - Большая скидка»
                    a(href="#") Скидка до 50% на окна REHAU Thermo
            .footer__contact-item.footer__contact-item--location
                h3(class="open-spoiler active") О нас
                .footer__info-item-text.footer__info-item-text--location
                    p Наш адрес:
                    a(href="#" class="footer__loction-link") Дорожная 29
                        +icon("mark")
                    p Режим работы
                    a(href="#" class="footer__loction-link") Пн-Вс c 8:00 - 22:00
                        +icon("time")
                    p Звонок бесплатный
                    a(href="#" class="footer__loction-link") +7 905 7990999
                        +icon("whatsapp")
                    p Почта:
                    a(href="#" class="footer__loction-link") zakaz@tokada.ru
                        +icon("mail")
            .footer__contact-item.footer__contact-item--pay
                p Принимаем к оплате:
                .footer__card-wrap
                    img(src="images/content/master.png" alt="логотип платежной системы")
                    img(src="images/content/visa.png" alt="логотип платежной системы")
                    img(src="images/content/mir.png" alt="логотип платежной системы")
                .footer__socials
                    p Официальный сайт компании «Токада» - Пластиковые окна.
                    p(class="footer__social-text") Все права защищены, копирование любой информации запрещено
                    .footer__social-list
                        a(href="#")
                            +icon("inst")
                        a(href="#")
                            +icon("tg")
                        a(href="#")
                            +icon("whatsapp")
                        a(href="#")
                            +icon("viber")
        .footer__copyright
            p © 2020  Окна Токада.
            a(href="#") Сайт разработан студией
                span Media Shaper
            a(href="#") Политика конфиденциальности
